*{
	margin: 0px;
	padding: 0px;
}
body{
	background-color: #ddd;
}


/* Pantalla de Login */

main#login{
	width: 400px;
	height: 250px;
	left: 50%;
	top: 50%;
	margin-left: -200px;
	margin-top: -125px;
	position: absolute;
	background: #fff;
	border-radius: 4px;
	box-shadow: 0px 0px 7px 4px #808080;
}

main#login table{
	width: 360px;
	height: 240px;
	font-family: Tahoma;
	font-size: 14px;
	margin-left: 18px;
	margin-top: 5px;
}

main#login table tr td h1{
	text-align: center;
	padding: 0;
	margin: 0;
	font-weight: normal;
}

#user-name, #user-pass{
	width: 300px;
	height: auto;
	padding: 10px;
	border: 1px solid #ddd;
	float: right;
}

#user-login{
	width: auto;
	height: auto;
	background-color: #121212;
	color: #fff;
	border-radius: 2px;
	float: right;
	padding: 7px 10px 7px 10px;
	border: none;
	cursor: pointer;
}

/* Configuración do Top */

header{
	width: 100%;
	height: 105px;
	float: left;
	position: relative;
	display: table;
}

#top{
	width: 1020px;
	height: 105px;
	margin: 0 auto;
}

#logo{
	float: left;
	width: 228px;
	height: 53px;
	margin-top: 25px;
}

#right{
	width: 560px;
	height: 105px;
	float: right;
}

#mensaje{
	float: left;
	width: 450px;
	height: auto;
	font-family: Tahoma;
	font-size: 14px;
	text-align: right;
	position: absolute;
	bottom: 0;
	margin-bottom: 10px;
	line-height: 20px;
}

#mensaje a{
	color: #4e9cc9;
	text-decoration: none;
}

#mensaje a:hover{
	color: #19587c;
	text-decoration: none;
}

#foto-perfil{
	max-width: 85px;
	max-height: 85px;
	float: right;
	margin-left: 10px;
	margin-right: 3px;
	margin-top: 7px;
}

#foto-perfil img{
	max-width: 85px;
	max-height: 85px;
	min-width: 85px;
	min-height: 85px;
	border: 2px solid #fff;
	box-shadow: 0px 0px 3px 2px #ddd;
}

/* Configuración de Menú */

#menu{
	width: 100%;
	height: 55px;
	float: left;
	position: relative;
	background-color: #ddd;
}

#menu nav{
	width: 1020px;
	height: 55px;
	background-color: #121212;
	border-radius: 4px 4px 0px 0px;
	margin:  0 auto;
}

#menu nav ul{
	width: 1020px;
	height: 55px;
	margin: 0 auto;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
	margin: 0;
	padding: 0;
	list-style: none;
}

#menu nav ul li{
	width: auto;
	height: 55px;
	float: left;
	line-height: 55px;
	display: inline;
	font-family: Tahoma;
	font-size: 16px;
	color: #fff;
	padding: 0px 19px 0px 18px;
	border-right: 1px solid #000;
}

#menu nav ul li:last-child{
	border: none;
}

#menu nav ul li:hover {
	background-color: #000;
	cursor: pointer;
}

#menu nav ul li:first-child:hover{
	border-radius: 4px 0px 0px 4px;
}

#menu nav ul li:last-child:hover{
	border-radius: 0px 4px 4px 0px;
}
#menu nav ul li a{
	color: #fff;
	text-decoration: none;
}

#menu nav ul li a:hover{
	color: #fff;
	text-decoration: none;
}

#menu nav ul li:hover a{
	color: #fff;
	text-decoration: none;
}

section#submenu{
	width: 1020px;
	height: auto;
	float: left;
	margin-top: 10px;
	margin-bottom: 20px;
}

section#submenu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

section#submenu ul li{
	width: auto;
	height: auto;
	display: inline;
	font-family: Tahoma;
	font-size: 16px;
	color: #000;
	background-color: #ddd;
	padding: 10px 15px 10px 15px;
	margin-left: 5px;
	border-radius: 2px;
	float: left;
}

section#submenu ul li:hover{
	cursor: pointer;
}

section#submenu ul li.activeColor{
	color: #fff;
	background-color: #121212;
}

/* Configuración de Contenido */

main{
	width: 100%;
	height: auto;
	margin: 0 auto;
	float: left;
	position: relative;
}

section#wrapper{
	width: 1020px;
	height: auto;
	margin: 0 auto;
}

section#content{
	width: 1020px;
	height: auto;
	float: left;
	background-color: #fff;
}

section#contar{
	width: 500px;
	height: 105px;
	float: left;
	background-color: #fff;
	border-radius: 3px;
	margin-top: 25px;
	margin-left: 20px;
	border: 1px solid #ccc;
}

section#contar table{
	width: 470px;
	height: 70px;
	margin-top: 12px;
	margin-left: 14px;
	font-family: Tahoma;
	font-size: 14px;
}

section#contar table tr td{
	padding: 10px 0px 10px 0px;
}

.table-marc{
	width: 150px;
	color: #19587c;
}

.table-val{
	text-align: right;
}

section#nota-rapida{
	width: 467px;
	height: 470px;
	float: right;
	margin-top: 25px;
	margin-right: 15px;
	background-color: #fff;
	border-radius: 3px;
	border: 1px solid #ccc;
	border-top: none;
	margin-bottom: 30px;
}

section#nota-rapida h1{
	width: 452px;
	padding: 12px 0px 12px 15px;
	border-radius: 3px 3px 0px 0px;
	background-color: #121212;
	font-family: Tahoma;
	font-size: 16px;
	font-weight: normal;
	color: #fff;
}

section#nota-rapida table{
	width: 440px;
	height: 405px;
	margin-top: 10px;
	margin-left: 14px;
	font-family: "Trebuchet MS";
	font-size: 16px;
}

section#nota-rapida table tr td input[type="text"]{
	width: 435px;
	height: auto;
	padding: 10px;
	box-shadow: inset 0px 0px 2px 0px #000f23;
	border: 0px solid #ccc;
	border-radius: 2px;
	color: #838383;
	font-size: 14px;
}

section#nota-rapida table tr td textarea{
	max-width: 435px;
	max-height: 170px;
	min-width: 435px;
	min-height: 170px;
	padding: 10px;
	box-shadow: inset 0px 0px 2px 0px #000f23;
	border: 0px solid #ccc;
	border-radius: 2px;
	color: #838383;
	font-size: 14px;
}

section#nota-rapida table tr td input[type="submit"]{
	width: auto;
	height: auto;
	float: right;
	padding: 10px 12px 10px 12px;
	border: none;
	border-radius: 2px;
	color: #fff;
	font-size: 14px;
	background-color: #121212;
	margin-top: 7px;
	cursor: pointer;
}

/* Últimas Noticias */

section#links-ultimas-noticias{
	width: 500px;
	height: auto;
	float: left;
	margin-left: 21px;
	margin-top: 17px;
}

section#links-ultimas-noticias h1{
	width: 492px;
	height: auto;
	margin-left: -1px;
	margin-bottom: 7px;
	color: #fff;
	font-family: Tahoma;
	font-size: 18px;
	color: #121212;
	font-weight: normal;
	float: left;
}

section#links-ultimas-noticias ul{
	width: 502px;
	height: auto;
	float: left;
	margin: 0;
	margin-left: -1px;
	list-style: none;
	padding: 0;
}

section#links-ultimas-noticias ul li{
	width: 480px;
	height: auto;
	float: left;
	padding: 7px 0px 7px 0px;
	color: #19587c;
	font-family: Tahoma;
	font-size: 14px;
	text-align: justify;
}

section#links-ultimas-noticias ul li:hover{
	background-color: #19587c;
	color: #fff;
	cursor: pointer;
	border-radius: 2px;
	padding: 7px 10px 7px 10px;
}

/* Configuraion Menu Gerenciar Noticias */

section#publicar-noticia{
	width: 1020px;
	height: auto;
	float: left;
	margin-top: -10px;
}

section#publicar-noticia-left{
	max-width: 700px;
	min-width: 700px;
	height: auto;
	float: left;
	margin-left: 7px;
	margin-top: 10px;
	margin-bottom: 10px;
}

section#publicar-noticia-left table{
	float: left;
	font-family: Tahoma;
	font-size: 16px;
	font-weight: normal;
}

section#publicar-noticia-left table tr td{
	padding-bottom: 10px;
}

section#publicar-noticia-left table input[type="text"]{
	width: 700px;
	height: auto;
	padding: 7px 10px 7px 10px;
	border: 1px solid #ccc;
}

section#publicar-noticia-left table textarea{
	min-width: 700px;
	max-width: 700px;
	height: auto;
	padding: 7px 10px 7px 10px;
	border: 1px solid #ccc;
}

section#publicar-noticia-right{
	width: 300px;
	height: auto;
	float: right;
	margin-left: 7px;
	margin-top: 10px;
	margin-bottom: 10px;
}

section#todas-las-noticias, section#borradores, section#papelera{
	width: 1000px;
	height: auto;
	margin-left: 10px;
	margin-bottom: 20px;
	float: left;
}

section#todas-las-noticias table, section#borradores table, section#papelera table{
	width: 1000px;
	height: auto;
	font-family: Tahoma;
	font-size: 14px;
	color: #121212;
	border: none;
}

section#todas-las-noticias table tr td, section#borradores table tr td, section#papelera table tr td,
section#categorias-existentes table tr td{
	padding: 7px 10px;
	border-right: 1px solid #D7D7D7;
	border-bottom: 1px solid #D7D7D7;
	text-align: center;
}

section#todas-las-noticias table tr td:first-child, section#borradores table tr td:first-child,
section#papelera table tr td:first-child, section#categorias-existentes table tr td:first-child{
	border-left: 1px solid #D7D7D7;
}
section#todas-las-noticias table tr:first-child td, section#borradores table tr:first-child td,
section#papelera table tr:first-child td, section#categorias-existentes table tr:first-child td{
	background-color: #121212;
	color: #fff;
	padding: 12px 10px;
	border: none;
}
section#todas-las-noticias table tr:first-child td:first-child, section#borradores table tr:first-child td:first-child,
section#papelera table tr:first-child td:first-child, section#categorias-existentes table tr:first-child td:first-child{
	border-top-left-radius: 4px;
}
section#todas-las-noticias table tr:first-child td:last-child, section#borradores table tr:first-child td:last-child,
section#papelera table tr:first-child td:last-child, section#categorias-existentes table tr:first-child td:last-child{
	border-top-right-radius: 4px;
}

section#publicar-nota-informaciones{
	width: 270px;
	height: auto;
	float: left;
	background-color: #f4f4f4;
	padding: 10px;
	border: 1px solid #ccc;
	margin-top: 1px;
	margin-bottom: 10px;
}

section#publicar-nota-informaciones table{
	width: 270px;
	height: auto;
	font-family: Tahoma;
	font-size: 14px;
}

section#publicar-nota-informaciones table tr td{
	padding: 0px 0px 12px 0px;
}

section#publicar-nota-informaciones table tr:last-child td{
	padding: 0px;
}

section#publicar-nota-informaciones table tr td input[type="submit"]{
	width: auto;
	height: auto;
	padding: 5px 7px 5px 7px;
	background-color: #fff;
	color: #121212;
	border: 1px solid #ccc;
	border-radius: 2px;
}

section#publicar-nota-informaciones table tr td input[type="submit"]:hover{
	background-color: #121212;
	color: #fff;
	cursor: pointer;
	border: 1px solid #121212;
}

section#publicar-nota-informaciones table tr td input[type="text"]{
	width: 265px;
	height:  auto;
	padding: 7px 10px 7px 10px;
	border: 1px solid #ccc;
}

section#publicar-nota-informaciones table tr td select{
	width: 265px;
	height:  auto;
	padding: 7px 10px 7px 10px;
	border: 1px solid #ccc;
}

/* Configuración de Gerenciar Categorías */

section#registrar-categoria, section#categorias-existentes{
	width: 1000px;
	height: auto;
	float: left;
	margin-left: 10px;
	margin-top: 10px;
	font-family: Tahoma;
}
section#categorias-existentes{
	margin-bottom: 10px;
}
section#registrar-categoria h1, section#categorias-existentes h1{
	width: 1000px;
	height: auto;
	float: left;
	font-size: 16px;
	font-weight: normal;
	color: #11214A;
}
section#categorias-existentes h1.btm{
	margin-bottom: 7px;
}
section#registrar-categoria table, section#categorias-existentes table{
	width: 1000px;
	height: auto;
	float: left;
	margin-top: 10px;
	font-size: 14px;
}
section#registrar-categoria table tr td, section#categorias-existentes table tr td{
	padding: 5px 0px;
}
section#registrar-categoria table input[type='text']{
	width: 850px;
	height: auto;
	padding: 7px 10px;
	border: 1px solid #999;
	box-shadow: inset 0px 0px 3px 1px #ccc;
}
section#registrar-categoria table input[type='submit']{
	width: 130px;
	height: auto;
	padding: 7px 10px;
	border: none;
	border-radius: 2px;
	background-color: #121212;
	color: #fff;
	cursor: pointer;
}
section#registrar-categoria table tr td.nota-table{
	font-size: 12px;
	color: #666;
}

/* Configuración de Administración Portal */

section#administracion-portal, section#administracion-portal-cd{
	width: 1000px;
	height: auto;
	float: left;
	margin-left: 10px;
	margin-top: 10px;
	font-family: Tahoma;
}
section#administracion-portal-cd{
	margin-bottom: 10px;
}
section#administracion-portal h1, section#administracion-portal-cd h1{
	width: 1000px;
	height: auto;
	float: left;
	font-family: Tahoma;
	font-size: 22px;
	font-weight: normal;
	color: #000;
}
section#administracion-portal table, section#administracion-portal-cd table{
	width: 1000px;
	height: auto;
	float: left;
	margin-top: 10px;
	font-size: 14px;
	font-family: Tahoma;
}
section#administracion-portal table tr td, section#administracion-portal-cd table tr td{
	padding: 5px 0px;
}
section#administracion-portal table input[type='text'], section#administracion-portal table input[type='email']{
	width: 900px;
	height: auto;
	margin-left: 20px;
	padding: 7px 10px;
	border: 1px solid #999;
	box-shadow: inset 0px 0px 3px 1px #ccc;
}
section#administracion-portal table input[type='password']{
	width: 900px;
	height: auto;
	margin-left: 20px;
	padding: 7px 10px;
	border: 1px solid #999;
	box-shadow: inset 0px 0px 3px 1px #ccc;
}
section#administracion-portal table input[type='submit']{
	width: 200px;
	height: auto;
	padding: 12px 10px;
	margin-right: 12px;
	border: none;
	border-radius: 2px;
	background-color: #121212;
	color: #fff;
	cursor: pointer;
}
section#administracion-portal-cd table tr td{
	padding: 7px 10px;
	border-right: 1px solid #D7D7D7;
	border-bottom: 1px solid #D7D7D7;
	text-align: center;
}

section#administracion-portal-cd table tr td:first-child{
	border-left: 1px solid #D7D7D7;
}
section#administracion-portal-cd table tr:first-child td{
	background-color: #121212;
	color: #fff;
	padding: 12px 10px;
	border: none;
}
section#administracion-portal-cd table tr:first-child td:first-child{
	border-top-left-radius: 4px;
}
section#administracion-portal-cd table tr:first-child td:last-child{
	border-top-right-radius: 4px;
}

/* Configuración de Modificar Perfil */

section#modificar-perfil{
	width: 1000px;
	height: auto;
	float: left;
	margin-left: 10px;
	margin-top: 10px;
	font-family: Tahoma;
}
section#modificar-perfil{
	margin-bottom: 30px;
}
section#modificar-perfil h1{
	width: 660px;
	height: auto;
	float: left;
	font-family: Tahoma;
	font-size: 22px;
	font-weight: normal;
	color: #000;
}
section#modificar-perfil table{
	width: 776px;
	height: auto;
	float: left;
	margin-top: 10px;
	font-size: 14px;
	font-family: Tahoma;
}
section#modificar-perfil table#imgperfil{
	width: 200px;
	height: auto;
	float: right;
	margin-top: 10px;
	margin-left: 24px;
	font-size: 14px;
	font-family: Tahoma;
}
section#modificar-perfil table tr td{
	padding: 5px 0px;
}
section#modificar-perfil table input[type='text']{
	width: 650px;
	height: auto;
	margin-left: 0px;
	padding: 7px 10px;
	border: 1px solid #999;
	box-shadow: inset 0px 0px 3px 1px #ccc;
}
section#modificar-perfil table#imgperfil input[type='text']{
	width: 180px;
	height: auto;
	margin-left: 0px;
	padding: 7px 10px;
	border: 1px solid #999;
	box-shadow: inset 0px 0px 3px 1px #ccc;
}
section#modificar-perfil table input[type='password']{
	width: 650px;
	height: auto;
	margin-left: 0px;
	padding: 7px 10px;
	border: 1px solid #999;
	box-shadow: inset 0px 0px 3px 1px #ccc;
}
section#modificar-perfil table input[type='submit']{
	width: 200px;
	height: auto;
	padding: 12px 10px;
	margin-right: 50px;
	border: none;
	border-radius: 2px;
	background-color: #121212;
	color: #fff;
	cursor: pointer;
}



/* Configuración de Pie de Página */

footer{
	width: 100%;
	height: 55px;
	float: left;
	display: table;
	position: relative;
	margin-bottom: 20px;
}

footer #footer{
	width: 1020px;
	height: 55px;
	background-color: #121212;
	border-radius: 0px 0px 4px 4px;
	margin:  0 auto;
	line-height: 55px;
	text-align: center;
	font-family: Tahoma;
	font-size: 14px;
	color: #fff;
}
