/*you can easily strip out all comments and unnecessary whitespace from this file -
visit http://www.meanfreepath.com/tools/jscompactor.html to use our free JavaScript/CSS code compactor*/
table.calendar {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 0.8em;
	border-collapse: collapse;
	background-color: #E5E5E5;
	border: solid #CCCCCC 1px;
	width: 215px;
	text-align: center;
	/*prevent user from selecting text in Mozilla & Safari - check calendar constructor for IE code)*/
	-moz-user-select: none;
    /*-khtml-user-select: none;*/	
}
table.calendar a {
}
table.calendar a:hover {
}
table.calendar input, table.calendar select {
	font-size: 10px;
}
table.calendar td, table.calendar th {
	border: 0;
	font-size: 10px;
	text-align: center;
}
div.mainheading {
	margin: 2px;
}
div.mainheading div.closeBtn {
	float: right;
	color: red;
}
/*all styles related to the main calendar grid*/
table.cells {
	border-collapse: collapse;
	border: solid #CCCCCC 1px;
	cursor: pointer;
	empty-cells: show;
	margin: 0 6px 0 6px;
}
/*the day headings*/
table.cells th {
	border: solid #CCCCCC 1px;
	text-align: left;
	font-weight: 600;
	color: #333333;
	width: 22px;
	background-color: #F7F7F7;
}
table.cells th.wkhead {
	border-right: double #F7F7F7 3px;
	cursor: default;
	width: 22px;
	background-color: #F7F7F7;
	color: #000000;
	border-color: #CCCCCC;
}
/*The date cells*/
table.cells td {
	border: solid #CCCCCC 1px;
	vertical-align: top;
	text-align: left;
	font-weight: bold;
	height: 20px; /*IE doesn't like ems*/
}
table.cells td.wkhead {
	background-color: white;
	text-align: center;
	border-right: double #CCCCCC 3px;
	color: #666666;
}
table.cells td.noselect {
	background-color: #FF0000;
	color: #BBBBBB;
	text-decoration: line-through;
	cursor: default;
}
table.cells td.hlday {
	background-color: #99FF99;
	color: #333333;
}
table.cells td.wkday {
	background-color: #FFFFFF;
}
table.cells td.wkend {
	background-color: #FFFFFF;
}
table.cells td.curdate {
	background-color: #AABBFF;

}
table.cells td.cell_selected {
	background-color: #FFBB77;
	color: #000000;
	border-top-color: #FFFFFF;
}
table.cells td.notmnth {
	background-color: #FFFFFF;
	color: #CCCCCC;
}
table.cells td.notallowed {
	background-color: white;
	color: #EEEEEE;
	font-style: italic;
}
table.cells td.hover {
	background-color: #999999;
}
table.cells td div {
	padding: 1px;
	margin: 0;
}
.td_venta {
	background-color: #AED7FF;
}
.td_cambios {
	background: #FFCF88;
}
