/*
 * FCKeditor - The text editor for internet
 * Copyright (C) 2003-2004 Frederico Caldeira Knabben
 * 
 * Licensed under the terms of the GNU Lesser General Public License:
 * 		http://www.opensource.org/licenses/lgpl-license.php
 * 
 * For further information visit:
 * 		http://www.fckeditor.net/
 * 
 * File Name: testcases.css
 * 	Styles used in the samples pages.
 * 
 * Version:  2.0 RC3
 * Modified: 2004-05-31 23:07:47
 * 
 * File Authors:
 * 		Frederico Caldeira Knabben (fredck@fckeditor.net)
 */

body, td, input, select, textarea
{
	font-size: 12px;
	font-family: Arial, Verdana, Sans-Serif;
}

h1
{
	font-weight: bold;
	font-size: 180%;
	margin-bottom: 10px;
}

form
{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
