<p>un programa se escribir&aacute; como una sucesi&oacute;n de instrucciones o sentencias<br />
<br />
A veces es necesario repetir un mismo conjunto de sentencias varias veces. Por ejemplo, para borrar todos los elementos de un array simplemente debemos hacer delete en cada uno de ellos, es una sentencia que se repetir&aacute; tantas veces como largo sea el array. Este es un t&iacute;pico trabajo para las estructuras repetitivas o bucles. En esencia la ejecuci&oacute;n de un bucle consiste en ejecutar repetidas veces una misma parte del programa (cuerpo del bucle) hasta que se cumpla una determinada condici&oacute;n, en cuyo caso se acaba la repetici&oacute;n y el programa contin&uacute;a con su flujo normal. Existen varias sentencias de bucles: while (condici&oacute;n) {... } , do {...} until (condicion) y for(contador; condici&oacute;n; modcont){...}.<br />
<br />
&nbsp;<br />
<br />
Sentencia while<br />
En esta estructura el programa primero comprueba la condici&oacute;n: si es cierta pasa a ejecutar el cuerpo del bucle, y si es falsa pasa a la instrucci&oacute;n siguiente a la sentencia while. Como siempre un ejemplo lo aclarar&aacute; todo:<br />
<br />
var lista = new Array(10);<br />
var ind=0;<br />
while (ind &lt; 10)<br />
&nbsp;&nbsp;&nbsp;&nbsp; {<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; lista[ind] = '0';<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ind++;<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; }<br />
<br />
En este ejemplo mientras que el valor almacenado en ind sea menor que 10 (la longitud del array ) ir&aacute; almacenando en cada elemento del array lista un 0 e incrementando el valor de ind. Cuando este valor sea 10 el programa no entrar&aacute; en el cuerpo del bucle. Si no se incrementara el valor de ind el bucle no acabar&iacute;a nunca, el programa quedar&iacute;a ejecutando indefinidamente el cuerpo del bucle.<br />
<br />
Sentencia do...while<br />
Se trata de un bucle en el que la condici&oacute;n se comprueba tras la primera iteraci&oacute;n, es decir que el cuerpo del bucle se ejecuta al menos una vez. El ejemplo anterios quedar&iacute;a como sigue<br />
<br />
var lista = new Array(10);<br />
var ind=0;<br />
do <br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; lista[ind] = '0';<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ind++;<br />
while (ind &lt; 10)<br />
<br />
Como vemos aqu&iacute; no son imprescindibles las llaves para encerar el cuerpo del bucle. No est&aacute; contemplada en el standard ECMA 1.5.<br />
<br />
&nbsp;<br />
<br />
Sentencia for<br />
Esta sentencia utiliza una variable de control a modo de contador para controlar la repetici&oacute;n del cuerpo del bucle. La sentencia da un valor inicial a este contador y en cada iteraci&oacute;n lo modifica seg&uacute;n le indiquemos y comprueba la condici&oacute;n, si se cumple ejecuta el cuerpo del bucle, si no lo salta y contin&uacute;a por la siguiente sentencia. Vemoas el ejemplo anterior usando esta sentencia:<br />
<br />
var lista = new Array(10);<br />
var ind;<br />
for (ind=0; ind &lt; 10; ind++)<br />
&nbsp;&nbsp;&nbsp;&nbsp; {<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; lista[ind] = '0';<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; }<br />
<br />
Como vemos el cuerpo del bucle no incrementa la variable ind, esto se indica en la cabecera de la sentencia. Este c&oacute;digo hace exactamente lo mismo que el anterior.<br />
<br />
&nbsp;<br />
<br />
Sentencia for ... in<br />
Se trata de una variante de la sentencia<br />
<br />
for<br />
utilizada para iterar o recorrer todos los elementos de un objeto o de un array. Usa una variable de control que en cada iteraci&oacute;n toma el valor del elemento del objeto recorrido. Por ejemplo si pruebas este c&oacute;digo podr&aacute;s ver todos los elementos del objeto document<br />
<br />
var item;<br />
for (item in document)<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; document.write(item+'&lt;br&gt;');<br />
<br />
Con una matriz la variable de control toma el valor de los &iacute;ndices de la matriz, no su contenido.</p>