<p>Las funciones como dec&iacute;amos en la introducci&oacute;n, no son mas que bloques de instrucciones de programa con nombre y que pueden ejecutarse sin mas que llamarlas desde alguna parte de otra funci&oacute;n o desde la p&aacute;gina HTML, bien sea directamente o mediante eventos.<br />
Habitualmente una funci&oacute;n se crea para ejecutar una acci&oacute;n muy concreta. Javascript posee una serie de funciones predefinidas o funciones globales pero el programador puede crear las suyas propias. Para crear una funci&oacute;n, tan s&oacute;lo es necesario indic&aacute;rselo al int&eacute;rprete mediante la plabra clave function seguida del nombre que deseemos darle a la funci&oacute;n y, encerrados entre par&eacute;ntesis, las variables que simbolizan los valores con los que deba trabajar la funci&oacute;n, los argumentos. Los par&eacute;ntesis deben escribirse aunque no haya argumentos. Para los nombres de funciones seguimos las mismas reglas que para las variables: carateres, d&iacute;gitos y gui&oacute;n bajo, debiendo comenzar por un car&aacute;cter o el gui&oacute;n bajo.<br />
<br />
Como es natural es recomendable dar a las funciones un nombre representativo de la operaci&oacute;n que realize. Por supuesto no debemos darle un nombre que ya exista en JavaScript. A continuaci&oacute;n encerradas entre llaves escribimos las sentencias u &oacute;rdenes en JavaScript. Opcionalmente la funci&oacute;n puede finalizar con la palabra clave return seguida de un valor, este valor ser&aacute; el que devuelva la funci&oacute;n al programa que la llame.<br />
Por ejemplo:<br />
<br />
function sumar(a,b)<br />
{<br />
var suma;<br />
suma = a + b;<br />
return suma;<br />
}<br />
<br />
Mediante este ejemplo creamos la funci&oacute;n llamada sumar, que utiliza dos argumentos y lo que hace es sumar estos argumentos. Por &uacute;ltimo devuelve el resultado de la operaci&oacute;n, mediante la palabra clave return seguida del valor que debe devolver. Ahora en el siguiente c&oacute;digo de programa usamos la funci&oacute;n reci&eacute;n definida:<br />
<br />
<br />
var operacion;<br />
operacion = sumar(4,5);<br />
alert(operacion);<br />
<br />
En este c&oacute;digo llamamos a la funci&oacute;n con los argumentos 4 y 5 y almacenamos el resultado en la variable operacion. Hasta aqu&iacute; el comportamiento de las funciones JavaScript es similar a cualquier otro lenguaje, pero en JavaScript las funciones tambi&eacute;n son objetos. Veamos el siguiente ejemplo:<br />
<br />
<br />
var multip = new Function(&quot;x&quot;, &quot;y&quot;, &quot;return x * y&quot;)<br />
alert(multip(8,9));<br />
<br />
Interesante, ahora multip no es una variable cualquiera sino una instancia del objeto Function y puede usarse como la propia funci&oacute;n. Esta caracter&iacute;stica permite asignar directamente funciones a los eventos de las p&aacute;ginas web y as&iacute; simplificar su programaci&oacute;n.</p>