<p>Para comenzar a utilizar Javascript (y cualquier lenguaje de programaci&oacute;n) es necesario conocer algunos conceptos b&aacute;sicos, no podemos empezar a hacer una casa si no sabemos que existen los ladrillos. Un programa es una lista de instrucciones, pero esas instrucciones se deber&aacute;n ejecutar sobre algo, si damos una instrucci&oacute;n escribir debemos especificar que es lo que hay que escribir. Es evidente pues que en las instrucciones del programa tambi&eacute;n deben figurar los datos con que trabajar. Por ejemplo el nombre de una persona es &quot;Juan&quot;, esta palabra es un dato. El precio de una manzana en ptas. es 10, este n&uacute;mero es otro dato. Estos datos no suelen usarse tal cual sino que se almacenan en unos elementos con nombre denominados Variables. En los ejemplos previos usar&iacute;a<br />
una variable, nombre, para guardar &quot;Juan&quot; o precio para guardar el 10. Si ahora digo al ordenador que escriba nombre el ordenador escribir&aacute; su contenido, o sea, Juan. Un peque&ntilde;o ejemplo par no aburrirnos: abre una ventana y escribe en la caja de direcciones del explorador lo que sigue:<br />
<br />
<br />
javascript:nombre=&quot;juan&quot;;window.alert(nombre)<br />
<br />
<br />
&iexcl;Acabas de escribir un par de instrucciones en JavaScript! (no te preocupes a&uacute;n de su significado), como ves has dado un valor a la variable nombre y luego se ha escrito el valor de esa variable. En el ejemplo anterior tambi&eacute;n podr&iacute;as haber escrito:<br />
<br />
<br />
window.alert(&quot;Mi nombre: &quot;+nombre).<br />
<br />
<br />
Mediante el s&iacute;mbolo + has concatenado ambas cadenas. Has usado un operador, algo que no es nuevo si has estudiado alguna vez matem&aacute;ticas. Los operadores son s&iacute;mbolos usados para realizar operaciones con los datos, son los s&iacute;mbolos +, -, /, *, respectivamente sumar, restar, dividir y multiplicar. Como sabes estos operadores se usan con datos num&eacute;ricos: 4 + 5 son 9. Estas dos instrucciones que has escrito podr&iacute;an encerrarse en un bloque con un nombre, por ejemplo mepresento() y tendr&iacute;as una funci&oacute;n. Podr&iacute;amos definir una funci&oacute;n llamada quehoraes() que encierre las instrucciones necesarias para que aparezca en pantalla la hora actual. Es decir mediantelas funciones creamos las &oacute;rdenes que luego podremos darle al navegador para que act&uacute;e seg&uacute;n nuestro deseo.<br />
Hasta aqu&iacute; has visto los elementos b&aacute;sicos existentes cualquier lenguaje de programaci&oacute;n, pero alguna vez habr&aacute;s le&iacute;do que Javascript es un lenguaje que utiliza objetos a diferencia de Java que es un lenguaje orientado a objetos. &iquest;Y que es eso de objetos? Los objetos son como una extensi&oacute;n de las variables, una estructura que nos permite agrupar diferentes valores y nombres de funciones. Una variable num&eacute;rica s&oacute;lo puede contener eso, un n&uacute;mero: 10 o 20 o 2000, una cadena tipo s&oacute;lo puede guardar una serie de caracteres &quot;ACAD&quot;, &quot;LE18P&quot;. Un objeto va mas all&aacute; puede guardar varias cosas a la vez. &iquest;Suena raro?. Veamos un ejemplo muy sencillo: un rect&aacute;ngulo se caracteriza por la longitud de sus lados y por la forma de dibujarlo. En un programa el rect&aacute;ngulo se asimilar&iacute;a a un objeto que tendr&iacute;a dos propiedades: base y altura, y un m&eacute;todo: como_dibujarlo. Este como_dibujarlo ser&iacute;a una funci&oacute;n que dibuja rect&aacute;ngulos.<br />
Si un programa define la variable mirect&aacute;ngulo como un objeto de este tipo y contiene la instrucci&oacute;n mirectangulo.como_dibujarlo dibujar&iacute;a en pantalla un rect&aacute;ngulo. La ventana del explorador que tienes delante es un objeto con propiedades como: altura, anchura, nombre. y m&eacute;todos como abrir, cerrar, mover. Vamos a hacer algo con este objeto que se llama window, para ello abre otra ventana de tu navegador y escribe en la barra de direcciones<br />
<br />
javascript:window.close().<br />
<br />
&iquest;Has visto lo que ocurre? Has usado el m&eacute;todo close() del objeto window para cerrar la ventana. Otro ejemplo escribe<br />
<br />
javascript:window.alert(window.closed),<br />
<br />
ahora has usado el m&eacute;todo alert del objeto window para mostrar una ventana con el valor de la propiedad closed, closed que dice si la ventana est&aacute; cerrada o abierta. Los objetos son bastante mas complicados que lo aqu&iacute; expuesto, pero JavaScript no es un lenguaje orientado a objetos, aunque puede crearlos y por supuesto manipularlos. Los scripts manipulan los objetos propios del lenguaje y los que le proporciona el navegador. Y he aqu&iacute; la causa de tus primeros dolores de cabeza como programador en javaScript: los sistemas de objetos de los diferentes navegadores no coinciden al 100%.</p>