<p>Los operadores en JavaScript son similares a los de multitud de otros lenguajes, como Java o C++, por lo que s&oacute;lo los comentar&eacute; de pasada.<br />
<br />
Operadores Aritm&eacute;ticos<br />
<br />
Operador&nbsp;&nbsp;&nbsp; Significado<br />
+&nbsp;&nbsp;&nbsp; Suma<br />
-&nbsp;&nbsp;&nbsp; Resta<br />
*&nbsp;&nbsp;&nbsp; Multiplicaci&oacute;n<br />
/&nbsp;&nbsp;&nbsp; Divisi&oacute;n<br />
%&nbsp;&nbsp;&nbsp; M&oacute;dulo<br />
++&nbsp;&nbsp;&nbsp; Incremento<br />
&ndash;&nbsp;&nbsp;&nbsp; Decremento<br />
-&nbsp;&nbsp;&nbsp; Negaci&oacute;n (unario)<br />
Todos los operadores son binarios, es decir, que se aplican sobre dos argumentos, a excepci&oacute;n de los tres &uacute;ltimos. La operaci&oacute;n de m&oacute;dulo a % b devolver&iacute;a el resto resultante de dividir a entre b. El incremento y decremento suman o restan la unidad al operando sobre el que se aplica y tienen diferente efecto dependiendo de si se colocan antes o despu&eacute;s del operando, tal como ocurre en Java o C++: en caso de que se coloque ante del operando, primero se sumar&aacute;/restar&aacute; la unidad y luego se evaluar&aacute; la expresi&oacute;n; en caso contrario, si se coloca despu&eacute;s del operando, ocurrir&aacute; al rev&eacute;s.<br />
<br />
Adem&aacute;s de estos operadores podemos utilizar distintos m&eacute;todos del objeto Math que definen funciones matem&aacute;ticas cl&aacute;sicas como el seno, el coseno o la ra&iacute;z cuadrada, pero que s&oacute;lo mencionaremos en este art&iacute;culo por no tratarse de operadores b&aacute;sicos.<br />
<br />
Operadores Relacionales<br />
<br />
Operador&nbsp;&nbsp;&nbsp; Significado<br />
==&nbsp;&nbsp;&nbsp; Devuelve true si los dos operandos son iguales (si son de distinto tipo se hace una conversi&oacute;n primero)<br />
===&nbsp;&nbsp;&nbsp; Devuelve true si los dos operandos son iguales y son del mismo tipo<br />
!=&nbsp;&nbsp;&nbsp; Devuelve false si los dos operandos son iguales (si son de distinto tipo se hace una conversi&oacute;n primero)<br />
!==&nbsp;&nbsp;&nbsp; Devuelve false si los dos operandos son iguales y son del mismo tipo<br />
&gt;&nbsp;&nbsp;&nbsp; Mayor que<br />
&gt;=&nbsp;&nbsp;&nbsp; Mayor o igual que<br />
&lt;&nbsp;&nbsp;&nbsp; Menor que<br />
&lt;=&nbsp;&nbsp;&nbsp; Menor o igual que<br />
Hay que tener en cuenta que las comparaciones de igualdad entre objetos se realizan por referencia, es decir, se compara si los dos objetos son exactamente el mismo objeto, o lo que es lo mismo, si tienen la misma direcci&oacute;n en memoria, no si representan el mismo valor.<br />
<br />
Operadores Condicionales<br />
<br />
Operador&nbsp;&nbsp;&nbsp; Significado<br />
&amp;&amp;&nbsp;&nbsp;&nbsp; And (devuelve true si ambos operandos eval&uacute;an a true)<br />
||&nbsp;&nbsp;&nbsp; Or (Devuelve true si alguno de los operandos eval&uacute;a a true)<br />
!&nbsp;&nbsp;&nbsp; Not (unario, devuelve true si la expresi&oacute;n eval&uacute;a a false)<br />
Operadores a nivel de bit<br />
<br />
Operador&nbsp;&nbsp;&nbsp; Significado<br />
&amp;&nbsp;&nbsp;&nbsp; And<br />
|&nbsp;&nbsp;&nbsp; Or<br />
^&nbsp;&nbsp;&nbsp; Xor<br />
~&nbsp;&nbsp;&nbsp; Not<br />
&lt;&lt;&nbsp;&nbsp;&nbsp; Desplazamiento a la izquierda<br />
&gt;&gt;&nbsp;&nbsp;&nbsp; Desplazamiento a la derecha<br />
&gt;&gt;&gt;&nbsp;&nbsp;&nbsp; Desplazamiento a la derecha sin signo<br />
Los operadores de desplazamiento desplazan a derecha o izquierda el n&uacute;mero de bits indicado por el segundo operando.<br />
<br />
Adem&aacute;s de todos estos operadores tenemos los operadores de asignaci&oacute;n, que realizan una asignaci&oacute;n y una operaci&oacute;n con un solo operador. Por ejemplo el operador += asigna como valor al primer operando el valor que se obtiene de sumar el primer y el segundo operando, por lo que la expresi&oacute;n a += b; ser&iacute;a equivalente a a = a + b;. Existe un operador de asignaci&oacute;n para cada uno de los operadores aritm&eacute;ticos y operadores a nivel de bit.<br />
<br />
S</p>