<p>La sint&aacute;xis de un lenguaje define los elementos de dicho lenguaje y c&oacute;mo se combinan para formar un programa. Los elementos t&iacute;picos de cualquier lenguaje son los siguientes:<br />
</p>
<ul>
    <li>Identificadores: los nombres que se dan a las variables</li>
    <li>Tipos de datos</li>
    <li>Palabras reservadas: las palabras que utiliza el propio lenguaje</li>
    <li>Sentencias</li>
    <li>Bloques de c&oacute;digo</li>
    <li>Comentarios</li>
    <li>Expresiones</li>
    <li>Operadores</li>
</ul>
<p>A lo largo de las p&aacute;ginas que siguen examinaremos en detalle cada uno de estos elementos.</p>