<p style="text-align: justify;"><em><strong><big>&nbsp; ESTRUCTURAS DE CONTROL</big></strong></em><br />
Los scripts&nbsp; son sencillos y lineales, ejecutan&nbsp; las sentencias simples una detr&aacute;s de la otra desde el principio hasta el fin, sin embargo los programas generalmente necesitaremos hacer cosas distintas dependiendo del estado de las variables o realizar un mismo proceso muchas veces sin escribir la misma l&iacute;nea de c&oacute;digo una y otra vez; los scripts&nbsp; utilizan las estructuras de control.<br />
&nbsp;</p>
<p style="text-align: justify;">A continuaci&oacute;n podemos realizar toma de decisiones y bucles.</p>
<p style="text-align: justify;"><br />
&nbsp;Toma de decisiones</p>
<p style="text-align: justify;"><br />
&nbsp;Sirven para realizar acciones y en otros casos en funciones de estado de las variables, o para tomar decisiones para ejecutar unas instrucciones u otras dependiendo de lo que est&eacute; ocurriendo.</p>
<p style="text-align: justify;"><br />
&nbsp;Por ejemplo, si el usuario que entra en una p&aacute;gina es mayor de edad o no, podemos permitirle o no ver los contenidos de p&aacute;gina.</p>
<p style="text-align: justify;"><br />
&nbsp;-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Si edad es mayor que 18 entonces<br />
-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Permito ver el contenido para adultos<br />
-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Si no</p>
<p style="text-align: justify;"><br />
No permito ver el contenido y lo envi&oacute; fuera de la p&aacute;gina<br />
En JavaScript para tomar decisiones utilizando dos enunciados distintos.<br />
&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; IF <br />
&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; SWITCH <br />
&nbsp;</p>