<p>Anteriormente has hecho una primera aproximaci&oacute;n a los elementos b&aacute;sicos con que vas a enfrentarte al programar. Es el momento de ahondar algo mas en estos elementos y comenzaremos por los m&aacute;s elementales: los datos. JavaScript maneja cuatro tipos de datos: num&eacute;ricos, de cadena, booleanos y punteros. Los datos num&eacute;ricos sirven para manejar cualquier n&uacute;mero real, como 12, 56.5, -9. Pero tambi&eacute;n son datos num&eacute;ricos: 2.0E2, 0xF0, 012. El primero corresponde a la llamada notaci&oacute;n cient&iacute;fica: 2.0*102, mientras que el segundo ejemplo corresponde a la notaci&oacute;n hexadecimal y el tercero a la octal. Lo normal es que s&oacute;lo uses valores decimales y a veces hexadecimales.<br />
Los datos de cadena son los usados para cadenas alfanum&eacute;ricas, o sea, para representar palabras, as&iacute; los siguientes son datos de cadena: &quot;prueba&quot;, &quot;La clave es 4r5t&quot;. Observa que estos datos est&aacute;n encerados entre comillas, es la forma de decirle a JavaScript que est&aacute; ante una cadena de caracteres y no ante un nombre o descriptor de alg&uacute;n elemento del programa. Es decir &quot;41&quot; es un dato de cadena mientras que 41 es el n&uacute;mero cuarenta y uno. &iquest;Y que ocurre si quiero que la cadena tenga comillas?, por ejemplo queremos escribir la siguiente frase Juan alias &quot;Maqui&quot; es el jefe, en JavaScript esto es una cadena y debe encerrarse entre comillas &quot;Juan alias &quot;Maqui&quot; es el jefe&quot;, la interpretaci&oacute;n de esta cadena dar&iacute;a un error como puedes comprobar si escribes en la barra de direcciones la siguiente instrucci&oacute;n:<br />
<br />
javascript:window.alert(&quot;Juan alias&quot;Maqui&quot; es el jefe&quot;)<br />
<br />
&iquest;Por qu&eacute;? Pues por que ah&iacute; hay dos cadenas y un nombre en medio: &quot;Juan alias&quot;, Maqui y &quot;es el jefe&quot;. JavaScript intentar&aacute; encontrar una variable con el nombre Maqui. Para poder hacer esto correctamente se usa el car&aacute;cter de escape: \, lo que sigue a esta barra invertida es un car&aacute;cter especial que debe interpretarse como un car&aacute;cter normal, prueba ahora esto:<br />
<br />
<br />
javascript:window.alert(&quot;Juan alias \&quot;Maqui\&quot; es el jefe&quot;)<br />
<br />
<br />
Ahora ya funciona perfectamente. Existen mas caracteres especiales como tabulaciones, cambios de l&iacute;nea de escritura, borrado izquierda, la propia barra invertida. Puedesprobarlos con la t&eacute;cnica del alert:<br />
<br />
<br />
javascript:window.alert(&quot;Esto usa una \t tabulaci&oacute;n &quot;)<br />
javascript:window.alert(&quot;Esto usa un \n cambio de l&iacute;nea&quot;)<br />
javascript:window.alert(&quot;Esto usa un \r retorno de carro&quot;)<br />
javascript:window.alert(&quot;Esto es la barra invertida \\ &quot;)<br />
<br />
<br />
Esto es bastante importante pues en muchas ocasiones usar&aacute;s un programa para escribir segmentos de p&aacute;ginas HTML donde tendr&aacute;s que usar caracteres especiales, como por ejemplo las comillas de los atributos. Estos datos son bastante habituales incluso en la vida cotidiana, pero existen mas tipos de datos como seguro sabes. Por ejemplo si preguntas a alguien &iquest;son las cinco en punto? S&oacute;lo hay dos posibles respuestas: SI o NO. Este tipo de datos no es ni num&eacute;rico ni de cadena, es booleano. En los lenguajes de programaci&oacute;n en lugar de s&iacute; o no se emplean los valores true o false. Estos datos son los que utilizaras cuando en los programas se tengan que tomar decisiones, o sea, comprobar algo y actuar en consecuencia: si el explorador es Netscape 4.0 no usar efectos de presentaci&oacute;n, por ejemplo.<br />
Existe un &uacute;ltimo tipo de datos que tambi&eacute;n se emplea a menudo en los scripts para la captura de eventos, son direcciones de memoria, o punteros, usadas para asignar funciones. Si en una variable se guarda el nombre de una funci&oacute;n esa variable se convierte en otro nombre para esa funci&oacute;n. &iquest;Raro? Esto tiene su verdadera utilidad al asignar funciones a los eventos disparados por el rat&oacute;n.</p>