<p>Escribir un programa por lo tanto es simplemente escribir instrucciones para que lasejecute el ordenador, utilizando para ello un cierto lenguaje. Es como escribir en ingl&eacute;s:necesitas conocer el vocabulario y la gram&aacute;tica del idioma de Shakespeare. En nuestrocaso usamos como lenguaje el JavaScript y necesitas conocer sus reglas y suvocabulario. Como ya sabes se trata de un lenguaje interpretado y los programasescritos con estos lenguajes son conocidos como scripts o guiones. Pese a su nombre notiene nada que ver con Java, este &uacute;ltimo es un lenguaje algo m&aacute;s complejo con el que sepueden construir programas de prop&oacute;sito general como podr&iacute;a hacerse con C++ oVisual Basic, la particularidad que tienen los programas Java es que pueden funcionaren cualquier ordenador y con cualquier sistema operativo. Las aplicaciones escritas paraInternet en Java son conocidas como applets.<br />
<br />
La &uacute;nica raz&oacute;n de ser de JavaScript son las p&aacute;ginas web. Con JavaScript no pueden construirse programas independientes, s&oacute;lo pueden escribirse scripts que funcionar&aacute;n en el entorno de una p&aacute;gina Web, interpretado por un explorador, de ah&iacute; la importancia de conocer para que explorador escribimos los guiones. Y aqu&iacute; viene el primer obst&aacute;culo: no todos los exploradores integran en la misma forma los guiones JavaScript. La primera versi&oacute;n de JavaScript se debe a Netscape, que lo introdujo con la versi&oacute;n 2.0 de su explorador, posteriormente han ido surgiendo nuevas versiones habiendo sido estandarizado por la European Computer Manufacturers Asociation (ECMA).<br />
<br />
&nbsp;<br />
<br />
&nbsp;<br />
<br />
Versi&oacute;n Exp&nbsp;&nbsp;&nbsp; &nbsp;Netscape Navigator &nbsp;&nbsp;&nbsp; Microsoft Internet Explorer<br />
2.0&nbsp;&nbsp;&nbsp; &nbsp;JavaScript 1.0 &nbsp;&nbsp;&nbsp; No lo soporta<br />
3.0&nbsp;&nbsp;&nbsp; &nbsp;JavaScript 1.1 &nbsp;&nbsp;&nbsp; JavaScript 1.0<br />
4.0&nbsp;&nbsp;&nbsp; &nbsp;JavaScript 1.2 &nbsp;&nbsp;&nbsp; JavaScript 1.2 (ECMA)<br />
5.0&nbsp;&nbsp;&nbsp; &nbsp;----- &nbsp;&nbsp;&nbsp; JavaScript 1.5 (ECMA)<br />
Pondr&iacute;amos preguntarnos por que el esfuerzo de aprender JavaScript, ya es bastante con el HTML para construir p&aacute;ginas Web. En parte esto es cierto, con un buen programa editor podemos obtener una p&aacute;gina para publicar en la red, pero esa p&aacute;gina Web consistir&iacute;a en: texto, im&aacute;genes e hiperv&iacute;nculos, con los atributos como colores, tipos de letra y poco m&aacute;s sobre los que el autor puede actuar. Pero &iquest;y si quisi&eacute;ramos poner un men&uacute; desplegable?, &iquest;y si queremos que el visitante pueda mover una imagen por la pantalla? .&iquest;y si necesitamos validar el texto entrado por el usuario?<br />
<br />
En resumen si queremos ir mas all&aacute; de la simple presentaci&oacute;n de un documento en pantalla y queremos controlar al explorador no hay mas remedio que utilizar un programa. &iquest;Por qu&eacute; en JavaScript? muy simple: es soportado por todos los exploradores, es sencillo y es el que est&aacute; siendo contemplado por los organismos de normalizaci&oacute;n.</p>