<p>JavaScript es una de las m&uacute;ltiples aplicaciones que han surgido para extender las capacidades del Lenguaje HTML. JavaScript es un lenguaje script<br />
orientado a doc umento. Nunca podr&aacute; hacer un programa, tan s&oacute;lo podr&aacute; mejorar sus p&aacute;ginas Web. E lenguaje de script es un lenguaje de programaci&oacute;n cuyo c&oacute;digo se inserta dentro del documento HTML. Este c&oacute;digo se ejecuta en el navegador del usuario al cargar la p&aacute;gina, o cuando sucede algo especial como puede ser el pulsar sobre un enlace. Estos lenguajes permiten variar din&aacute;micamente el contenido del documento, modificar el comportamiento normal del navegador, validar formularios, realizar peque&ntilde;os trucos visuales, etc... Sin embargo, conviene recordar que se ejecutan en el navegador del usuario y no en la m&aacute;quina donde est&eacute;n alojadas, por lo que no podr&aacute;n realizar cosas como manejar bases de datos. Esto hace que los contadores (por ejemplo) se deban realizar de otra manera, utilizando programas CGI. El primer lenguaje de script que vi&oacute; la luz fue el JavaScript de Netscape.<br />
<br />
<br />
Nacido con la versi&oacute;n 2.0 de este navegador y basado en la sintaxis de Java, su utilidad y el casi absoluto monopolio que entonces ejerc&iacute;a Netscape en el<br />
mercado de navegadores permitieron que se popularizara y extendiera su uso. El m&aacute;ximo rival del Netscape Navigator, el Internet Explorer de Microsoft,<br />
comenz&oacute; a soportar este lenguaje en su versi&oacute;n 3.0. Fue tambi&eacute;n entonces cuando introdujo el &uacute;nico rival serio que el JavaScript ha tenido en el mercado<br />
de los lenguajes de script: el VBScript. Basado en el lenguaje BASIC, no ha tenido excesiva difusi&oacute;n en Internet debido a la previa implantaci&oacute;n del<br />
JavaScript y a que son de parecida funcionalidad, pero s&iacute; es utilizado dentro de Intranets basadas en el Explorer y dentro de otras aplicaciones de Microsoft,<br />
como IIS, Access, Word, etc..</p>