<p style="text-align: center;"><strong>Eventos </strong></p>
<p><em><strong>Que es un evento<br />
</strong></em>Un evento es un proceso que se realiza en respuesta a determinada acci&oacute;n realizada por el usuario. Los eventos se capturan mediante los manejadores de eventos. El proceso a realizar se programa mediante funciones JavaScript llamadas por los manejadores de eventos.</p>
<p><br />
<strong>&nbsp;C&oacute;mo funcionan los eventos</strong><br />
Cuando los eventos tienen lugar, asociado a un elemento HTML de una p&aacute;gina web, se chequea si existen gestores de eventos asociados a ese evento. Si la respuesta es s&iacute;, se les llama en un orden determinado, mientras se les env&iacute;a referencias y otra informaci&oacute;n del evento que ha ocurrido. Los gestores de eventos entonces act&uacute;an sobre ese evento.<br />
&nbsp;<br />
Hay dos tipos de &oacute;rdenes de invocaci&oacute;n: captura de evento y propagaci&oacute;n de evento.<br />
&nbsp;<br />
La captura de eventos comienza con el elemento de m&aacute;s afuera en el &aacute;rbol DOM, y funciona entrando hacia dentro del elemento HTML. Por ejemplo, un click sobre una p&aacute;gina web primero chequear&iacute;a el elemento HTML en busca de un gestor para el evento onclick, luego sobre elemento body, y as&iacute;, hasta que alcanzase el gestor del evento.<br />
La propagaci&oacute;n de los eventos trabaja justo de la forma contraria: comienza chequeando si el elemento destino del evento tiene asociado alg&uacute;n gestor de ese evento, y contin&uacute;a hacia arriba chequeando a los respectivos padres de los elementos, hasta que alcanza el elemento HTML.<br />
&nbsp;Existen eventos para los diferentes elementos de la p&aacute;gina como: formularios, enlaces, teclado, ventanas, botones.</p>