<p>Antes de comenzar: Nada de asustarse por la jerga t&eacute;cnica. Para qui&eacute;n comienza desde cero, estas cosillas son lo primero que debiera conocer: Que es eso de programa, lenguaje, scripts o guiones.<br />
<br />
<br />
Lo primero a aclarar es lo del programa, algo que realmente no es exclusivo de la inform&aacute;tica, todos hemos programado alguna vez: al poner el v&iacute;deo para que grabe cuando no estamos en casa, cuando ponemos el despertador para que nos d&eacute; el disgusto matutino...En el caso de un programa inform&aacute;tico los que programamos es un ordenador y los programas habitualmente se hacen escribi&eacute;ndolos en un cierto lenguaje.<br />
<br />
<br />
Concretando, un programa no es mas que una serie de instrucciones que le damos a un sistema para que haga cosas. En otras palabras, y en el caso que nos ata&ntilde;e, es decirle al ordenador como hacer una determinada tarea. Puede por tanto ser algo tan simple como decirle que sume dos n&uacute;meros y nos diga el resultado hasta algo tan complejo como decirle que controle todo un edificio: temperatura, puertas, iluminaci&oacute;n. En nuestro caso es algo bastante sencillo, vamos a decirle al ordenador que cuando presente nuestra p&aacute;gina web al visitante haga cosas como poner en la p&aacute;gina la fecha del d&iacute;a, hacer que una imagen se mueva de un lado a otro, responder de una determinada forma a la pulsaci&oacute;n del rat&oacute;n, etc.<br />
<br />
<br />
Para escribir un programa no nos vale ni el castellano, ni el ingl&eacute;s, ni ninguno de los lenguajes que habitualmente usa el hombre para comunicarse. Para entendernos con un ordenador se utilizan los lenguajes inform&aacute;ticos. Existen dos grandes grupos de lenguajes a la hora de escribir un programa: Los compilados y Los interpretados.<br />
<br />
<br />
Cuando usamos lenguajes compilados seguimos los siguientes pasos:<br />
<br />
<br />
&bull; Nosotros escribimos el programa (c&oacute;digo fuente),<br />
&bull; Un programa lo traduce al lenguaje interno del ordenador (se compilan)<br />
&bull; Se obtiene as&iacute; un nuevo fichero que es el que se ejecuta tantas veces como se desee.<br />
<br />
<br />
Los programas as&iacute; obtenidos son los que se almacenan en ficheros con un nombre terminado en .exe o en .com, si trabajamos en los sistemas operativos DOS o Windows. Podr&iacute;amos resumir: Un programa compilado se traduce una vez y se ejecuta cuantas veces se desee. A este grupo pertenecen los lenguajes tradicionales como C, Pascal, Ada y otros.<br />
<br />
<br />
El otro grupo es el de los lenguajes interpretados, en &eacute;stos el programa se escribe (c&oacute;digo fuente), y el ordenador va leyendo cada instrucci&oacute;n, la traduce y la ejecuta. O sea, es necesario traducir el programa cada vez que se ejecuta. &iquest;Qui&eacute;n traduce las instrucciones del programa? Pues muy sencillo, otro programa: el traductor o int&eacute;rprete. A este grupo pertenece el legendario Basic, el Perl y los llamados scripts como JavaScript y Vbscript. Los programas escritos en estos dos &uacute;ltimos lenguajes son interpretados por los navegadores de Internet como Internet Explorer, Netscape Navigator, Opera.<br />
<br />
<br />
Muy bien ya s&eacute; que es un programa, pero a la hora de la verdad &iquest;c&oacute;mo se construyen los programas? &iquest;C&oacute;mo se ejecutan?. Paciencia, sigue viendo las p&aacute;ginas de introducci&oacute;n, mira por encima los ejemplos de JavaScript (deja el HTML din&aacute;mico para mas adelante) y pasa a ver la gram&aacute;tica. Luego te das un paseo por los objetos. Pero todo gradualmente y con paciencia.</p>