<p>Ya dijimos que los datos, los valores num&eacute;ricos no siempre pueden utilizarse de manera directa, sino que habitualmente se almacenan en una posici&oacute;n de memoria con nombre, esto es lo que llamamos una variable. En otros lenguajes de programaci&oacute;n existen diferentes tipos de variables en funci&oacute;n del tipo de datos que pueden guardar: variables para cadenas, para n&uacute;meros enteros, para n&uacute;meros reales, etc. JavaScript es muy permisivo en este aspecto de manera que una variable puede guardar cualquier tipo de dato y adem&aacute;s pueden crearse en cualquier parte del programa. Esto &uacute;ltimo es c&oacute;modo pero peligroso pues puede llevar a programas dif&iacute;ciles de depurar y de modificar, es conveniente llevar un cierto control sobre las variables que vas usando en cada funci&oacute;n y declararlas al principio de la misma.<br />
Hemos dicho que las variables tienen nombres, &iquest;c&oacute;mo son estos nombres? Vale cualquier combinaci&oacute;n de letras y d&iacute;gitos, mas el gui&oacute;n bajo, siempre que el primer car&aacute;cter no sea un d&iacute;gito y por supuesto que no coincida con una palabra reservada del lenguaje, es decir, palabras con un significado especial para el int&eacute;rprete como close, open, write... Es aconsejable usar nombres autoexplicativos, es una forma de documentar tus programas. Por ejemplo una variable para guardar una direcci&oacute;n de un icono puede llamarse direc_icono. Un &uacute;ltimo detalle JavaScript diferencia entre may&uacute;suclas y min&uacute;sculas, as&iacute; Edad y edad ser&iacute;an dos variables distintas.<br />
Otro aspecto a tener en cuenta a la hora de usar las variables es su &aacute;mbito, es decir, qu&eacute; funciones tienen acceso a ellas. Si se crea una variable dentro de una funci&oacute;n s&oacute;lo ser&aacute; conocida dentro de esa funci&oacute;n, se trata de variables locales. Si se necesita que varias funciones tengan acceso a una determinada variable &eacute;sta debe crearse como variable global, esto se hace cre&aacute;ndola fuera de todas las funciones. Por ejemplo en el siguiente script tenemos variables globales y locales:<br />
<br />
<strong>&lt;script language=&quot;Javascript&quot;&gt;<br />
var navegador_version = 0;<br />
function verNavegador()<br />
{<br />
var version;<br />
version = document.appVersion;<br />
return version;<br />
}<br />
&lt;/script&gt;</strong><br />
<br />
En este ejemplo navegador_version es una variable global mientras que version es local a la funci&oacute;n verNavegador(). Observa que las variables est&aacute;n creadas con la palabra clave var, el uso de esta palabra es opcional, s&oacute;lo es obligatorio si una variable local tienen el mismo nombre que una global. Otro detalle a tener en cuenta es que al mismo tiempo que creamos la variable podemos darle un valor, si no lo hacemos la variable contendr&aacute; el valor null.</p>