<p style="text-align: justify;"><strong><big>CONCEPTOS B&Aacute;SICOS</big></strong><br />
<br />
<em><strong>Qu&eacute; es</strong></em><br />
JavaScript, al igual que Flash, Visual Basic Script, es una de las m&uacute;ltiples maneras que han surgido para extender las capacidades del lenguaje HTML. Al ser la m&aacute;s sencilla, es por el momento la m&aacute;s extendida. JavaScript no es un lenguaje de programaci&oacute;n propiamente dicho como C, C++, Delphi, etc. Es un lenguaje script u orientado a documento, como pueden ser los lenguajes de macros que tienen muchos procesadores de texto y planillas de c&aacute;lculo. No se puede desarrollar un programa con JavaScript que se ejecute fuera de un Navegador.</p>
<p style="text-align: justify;"><br />
JavaScript es un lenguaje interpretado que se embebe en una p&aacute;gina web HTML. Un lenguaje interpretado significa que a las instrucciones las analiza y procesa el navegador en el momento que deben ser ejecutadas.</p>
<p style="text-align: justify;"><br />
&nbsp; <strong><em>Para qu&eacute; sirve</em></strong><br />
&nbsp;JavaScript sirve principalmente para mejorar la gesti&oacute;n de la interfaz cliente/servidor. Un script JavaScript insertado en un documento HTML permite reconocer y tratar localmente, es decir, en el cliente, los eventos generados por el usuario. Estos eventos pueden ser el recorrido del propio documento HTML o la gesti&oacute;n de un formulario.<br />
<br />
<em><strong>Ejemplo:</strong></em></p>
<p style="text-align: justify;"><br />
Cuando la p&aacute;gina HTML es un formulario que permite acceder a un anuario telef&oacute;nico, se puede insertar un script que verifique la validez de los par&aacute;metros proporcionados por el usuario. Esta prueba se efect&uacute;a localmente y no necesita un acceso a la red.</p>
<p style="text-align: justify;"><br />
Utilizaci&oacute;n del lenguaje JavaScript<br />
Lo m&aacute;s importante y b&aacute;sico que podemos destacar en este momento es que la programaci&oacute;n de JavaScript se realiza dentro del propio documento HTML. Esto quiere decir que en la p&aacute;gina se mezclan los dos lenguajes de programaci&oacute;n, y para que estos dos lenguajes se puedan mezclar sin problemas se han de incluir unos delimitadores que separan las etiquetas HTML de las instrucciones JavaScript. Estos delimitadores son las etiquetas &lt;SCRIPT&gt; y &lt;/SCRIPT&gt;. Todo el c&oacute;digo JavaScript que pongamos en la p&aacute;gina ha de ser introducido entre estas dos etiquetas. En una misma p&aacute;gina podemos introducir varios scripts, cada uno que podr&iacute;a introducirse dentro de unas etiquetas &lt;SCRIPT&gt; distintas. La colocaci&oacute;n de estos scripts es indiferente, en un principio nos da igual donde colocarlos, pero en determinados casos esta colocaci&oacute;n s&iacute; que ser&aacute; muy importante<br />
La inserci&oacute;n de un documento HTML se realiza mediante la marca SCRIPT utilizando la sintaxis:</p>
<p style="text-align: justify;"><br />
<strong><em>&lt;SCRIPT&gt;<br />
C&oacute;digo del script<br />
&lt;/SCRIPT&gt;</em></strong><br />
&nbsp;<br />
Los atributos de esta marca son: LANGUAGE=&quot;JavaScript&quot;<br />
Precisa el lenguaje del script. Este atributo es obligatorio en ausencia del atributo SRC:<br />
SRC=url<br />
El atributo SRC precisa el URL del script a insertar en el documento. Este atributo es opcional, porque el script puede insertarse directamente en un documento HTML.<br />
Estos dos atributos pueden especificarse simult&aacute;neamente.<br />
Ejemplo:<br />
&lt;SCRIPT LANGUAGE=&quot;lenguaje&quot; SCR=url&gt;<br />
C&oacute;digo del script&nbsp; <br />
<br />
&lt;/SCRIPT&gt;<br />
&nbsp;Podr&aacute; especificarse para insertar en un documento un script de un lenguaje determinado y que cuyo c&oacute;digo fuente se encuentra en un archivo especificado en un determinado url.<br />
A continuaci&oacute;n enunciaremos algunos puntos a tener en cuenta respecto a la introducci&oacute;n de JavaScript en un documento HTML:<br />
&nbsp;o&nbsp;&nbsp; El script insertado mediante la marca SCRIPT es evaluado por el cliente tras la visualizaci&oacute;n de la p&aacute;gina HTML. Las funciones definidas no se ejecutan inmediatamente, dependen de los eventos asociados a la p&aacute;gina.<br />
&nbsp;<br />
o&nbsp;&nbsp; La inserci&oacute;n del script mediante la marca SCRIPT puede colocarse en cualquier lugar del documento HTML pero se recomienda colocarla en la cabecera, es decir, en la zona definida por el HEAD. De este modo, el script est&aacute; definido desde el principio del documento, lo que garantiza que &eacute;ste se visible en todo el documento.<br />
&nbsp;o&nbsp;&nbsp; Si se definen, adem&aacute;s del script mediante el atributo SRC, scripts en el propio documento, el cliente evaluar&aacute; en primer lugar el insertado mediante el atributo SRC y seguidamente los incluidos en el documento.<br />
<br />
o&nbsp;&nbsp; Los URL correspondientes a un JavaScript poseen generalmente la extensi&oacute;n .js.<br />
&nbsp;<br />
o&nbsp;&nbsp; Es preferible delimitar los scripts insertados en un documento por comentarios HTML para asegurarse de que el contenido del script no aparecer&aacute; en los clientes que no reconozcan la marca SCRIPT. Por ejemplo:<br />
o&nbsp;&nbsp; El lenguaje JavaScript no es case sensitive, es decir, no distingue may&uacute;sculas de min&uacute;sculas salvo en las cadenas de caracteres literales.<br />
<br />
Ejemplo:<br />
&lt;html&gt;<br />
&lt;head&gt;<br />
&lt;/head&gt;<br />
&lt;body&gt;<br />
&lt;script language=&quot;javascript&quot;&gt;<br />
document.write('Primer programa JavaScript');<br />
&lt;/script&gt;<br />
&lt;/body&gt;<br />
&lt;/html&gt;<br />
Para imprimir caracteres sobre la p&aacute;gina debemos llamar al comando write del objeto document. La informaci&oacute;n a imprimirse debe ir entre comillas y encerrada entre par&eacute;ntesis. Todo lo que indicamos entre comillas aparecer&aacute; tal cual dentro de la p&aacute;gina HTML.<br />
&nbsp;</p>