<p>A pesar de su extra&ntilde;o nombre los arrays no son m&aacute;s que estructuras para almacenar listas de valores. A diferencia de otros lenguajes, en Javascript los arrays no son un tipo de variable sino que fueron implementados por Netscape como un objeto, lo cual les da una potencia enorme. Pero empecemos por abajo. Un array puede verse como una lista con nombre donde podemos anotar cosas, cada anotaci&oacute;n se identifica por su n&uacute;mero de orden en el array (la lista), su &iacute;ndice, y el n&uacute;mero total de espacios para anotar cosas en el array es su longitud. Si en un array tenemos anotados 5 n&uacute;meros, el primero de todos ser&aacute; el de &iacute;ndice 0 y el &uacute;ltimo tendr&aacute; como &iacute;ndice el 4, siendo 5 la longitud del array. Simple &iquest;verdad?, veamos como se crea un array y como se asignan valores en unos ejemplos muy sencillos:<br />
<br />
....<br />
semana = new Array(7);<br />
miLista = new Array(1,5,9);<br />
nombres= new Array('Juan', 'Luis', 'Mar&iacute;a');<br />
vacio = new Array();<br />
interesante = new Array(4);<br />
...<br />
<br />
El array semana se ha creado con longitud 7, o sea, permite 7 elementos. El array miLista se ha creado con longitud 3 y se ha dado valor a cada elemento al igual que el array nombres. Por &uacute;ltimo el array vacio se ha creado sin longitud.<br />
<br />
...<br />
semana[0] = 'Lunes';<br />
semana[1] = 'Martes';<br />
semana[2] = 'Mi&eacute;rcoles';<br />
semana[3] = 'Jueves' ;<br />
semana[4] = 'Viernes';<br />
semana[5] = 'S&aacute;bado';<br />
semana[6] = 'Domingo' ;<br />
vacio[5] = 'ultimo';<br />
interesante['Jose'] = 10;<br />
interesante['Pilar'] = 5;<br />
interesante['Antonio'] = 8;<br />
....<br />
<br />
En este &uacute;ltimo segmento de c&oacute;digo hemos rellenado los arrays: semana se ha rellenado con los nombres de los d&iacute;as de la semana. Observa el array vacio, hemos dado valor al elemento 5, a partir de ahora este array tiene longitud 6 con los cindo primeros elementos con valor null y el sexto (vacio[5]) con valor '&uacute;ltimo'. Por &uacute;ltimo el array llamado interesante, y lo es: los &iacute;ndices no tienen porque ser num&eacute;ricos. Cada elemento de un array puede ser un valor de cualquier tipo: n&uacute;meros, cadenas . u otro array, en este &uacute;ltimo caso tendremos arrays multidimensionales, o sea, donde cada elemento tiene varios &iacute;ndices o coordenadas para localizarlos. &iquest;Un lio? vemos el caso mas simple, un array bidimensional ser&iacute;a un array donde cada elemento es a su vez otro array con lo que cada elemento tendr&aacute; dos &iacute;ndices uno para el primer array y otro para el segundo. El array bidimensional podmeos imaginarlo como una tabla ordenada en filas<br />
y columnas, cada elemento del array es una celda de esa tabla. Un ejemplo para una tabla de 3 filas y 2 columnas:<br />
<br />
function matBidim()<br />
{<br />
var tabla = new Array(3);<br />
tabla[0] = new Array(2);<br />
tabla[0][0] = 10;<br />
tabla[0][1] = 5;<br />
tabla[1] = new Array(2);<br />
tabla[1][0] = 7;<br />
tabla[1][1] = 8;<br />
tabla[2] = new Array(2);<br />
tabla[2][0] = 9;<br />
tabla[2][1] = 3;<br />
alert(tabla[1][1]); /*Visializar&iacute;a un cuadro con el<br />
n&uacute;mero 8*/<br />
}<br />
<br />
Como ves la cosa es sencilla: el array tabla tiene tres elementos y cada uno de ellos es a su vez otro array de dos elementos.</p>