<p>Javascript no posee todas las caracter&iacute;sticas de los lenguajes orientados a objetos como Java o C++, pero si es capaz de manejar objetos e incluso crearlos. De hecho si un programa en este lenguaje es capaz de interactuar con el explorador es gracias a esta capacidad. Javascript posee algunos objetos predefinidos u objetos intr&iacute;nsecos como son: Array, Boolean, Date, Function, Global, Math, Number, Object, RegExp, y String. Adem&aacute;s el programador puede crear objetos nuevos, con sus propios m&eacute;todos y propiedades, adaptados a las necesidades concretas de su aplicaci&oacute;n.<br />
Crear un objeto nuevo es tan simple como definir cuales ser&aacute;n sus propiedades y sus m&eacute;todos, teniendo en cuenta que cualquier objeto que definamos ya posee heredados los m&eacute;todos y propiedades del objeto predefinido object. En el ejemplo siguiente creamos un objeto pagina que aclarar&aacute; la forma de crear objetos propios:<br />
<br />
function pagina (titulo, color, fondo)<br />
{<br />
this.titulo = titulo;<br />
this.color = color;<br />
this.imgfondo = fondo;<br />
this.length = 3;<br />
}<br />
var miPagina = new pagina(&quot;Mi p&aacute;gina&quot;, &quot;Blue&quot;, &quot;cruces.gif&quot;);<br />
var nuevapag = new pagina(&quot;2&ordf; P&aacute;gina&quot;, &quot;White&quot;, &quot;&quot;);<br />
<br />
Este objeto se crea con el operador new pas&aacute;ndole como argumentos las propiedades declaradas para este objeto: titulo, color, imgfondo. La palabra clave this se usa para referirnos al propio objeto que estamos definiendo. A&uacute;n mas podemos crear propiedades nuevas s&oacute;lo para la variable miPagina, pero estas propiedades no afectar&aacute;n al objeto pagina en s&iacute;. Por ejemplo:<br />
<br />
miPagina.descripcion = &quot;Este es un ejemplo&quot;;<br />
alert (miPagina.descripcion);<br />
<br />
da como resultado la frase Este es un ejemplo, pero si ahora escribi&eacute;ramos:<br />
<br />
alert(nuevaPag.descripcion);<br />
<br />
<br />
obtendr&iacute;amos undefined pues descripcion solo es una propiedad de la variable miPagina no del objeto pagina. Para ampliar un objeto usamos la propiedad prototype:<br />
<br />
<br />
pagina.prototype.descripcion = &quot;Objeto definido por mi&quot;;<br />
alert(nuevaPag.descripcion);<br />
alert(miPagina.descripcion);<br />
<br />
Ahora hemos a&ntilde;adido una propiedad al objeto pagina y esta propiedad se transmite a las variables de tipo pagina (mas correctamente instancias de pagina), por tanto en ambos casos obtendr&iacute;amos la frase Objeto definido por m&iacute;, que es el valor dado a la nueva propiedad.<br />
<br />
&nbsp;</p>