<p>Estos ejemplos te permitir&aacute;n poner en pr&aacute;ctica los conceptos aprendidos con el tutor. Te bastar&aacute; con un editor HTML para probar por ti mismo estos programas de muestra. S&oacute;lo se usan dos m&eacute;todos del navegador: document.write y ventanas alert para mostrar resultados. Recuerda que el c&oacute;digo lo debes situar en la secci&oacute;n HEAD de la p&aacute;gina y las llamadas a las funciones en el cuerpo. Por ahora no se usan eventos, eso queda para la 2&ordf; Fase: el HTML din&aacute;mico.<br />
<br />
&nbsp;<br />
<br />
http://www.uv.es/mplac/LaNau/4_Javascript/Ejercicios.html</p>