#ventana{
	 position:absolute;
	 visibility:hidden;
}

.tdventana{
	background-color:#FFFFFF;
	text-align:left;
	font-size: 10px;
	color: #000000;
}

.tablaventana {
	border: 1px solid #999999;
	border-collapse:collapse;
	background-color:#CCCCCC;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color:#000000;
	font-size: 10px;
	line-height: 11px;
	width: 140px;
	text-align:center;	
}


.tdCalendarioBandeja {
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
	width: 20px;
	height: 15px;
	text-align:justify;
	text-align:center;
	
}

.tdCalendarioBandejaHoy {
	background-color:#CCCCCC;
	border: 1px solid #999999;
	width: 20px;
	height: 15px;
	text-align:justify;
	text-align:center;
	
}

.tablaCalendarioBandejaC {
	background-color: #EEEEEE;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-align: center;
	border: 1px solid #CCCCCC;
	border-collapse:collapse;
	cursor: hand;
}
.tablaCalendarioBandejaO {

	background-color: #E1E1E1;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align: center;
	border: 1px solid #CCCCCC;
	width: 170px;
	
}

.tablaCalendario {
	border: 1px solid #CCCCCC;
}

.tablaCalendario {
	border: 1px solid #CCCCCC;
}

.tdCalendario {
	width: 110px;
	height: 60px;
	background-color: #EDECE9;
	list-style-position: inside;
	border: 1px solid #CCCCCC;
	vertical-align: top;
}

.tdCalendarioHoy {
	width: 110px;
	height: 60px;
	background-color: #EBEBEB;
	list-style-position: inside;
	border: 1px solid #AAAAAA;
	vertical-align: top;
}
.linkCalendario{
	color:#990033;
	text-decoration:none;
	font-weight: bold;
	
}

