*{
	margin: 0px;
	padding: 0px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body{
	background-color: #FFF;
}

/*configuación de top*/


header #top{
	width: 100%;
	max-width: 1120px;
	height: 85px;
	margin: 0 auto;
}
#logo{
	max-width: 250px;
	width: 100%;
	height: 50px;
	float: left;
	margin-top: 15px;
}
#top-right{
	width: 100%;
	max-width: 450px;
	height: 85px;
	float:right;
}
#top-right p{
	width: 100%;
	max-width: 450px;
	margin-top: 1px;
	margin-bottom: 1px;
	font-family: Tahoma;
	color: #555555;
	font-size: 14px;
	text-align: right;
}
#busca-organica{
	width: 100%;
	max-width: 400px;
	height: 30px;
	border: none;
	background: #fff;
	float: right;
	box-shadow: inset 0px 0px 3px 2px #cfcdcd;
	font-family: Tahoma;
	font-size: 16px;
	color: #9e9e9e;
	text-align: right;
	padding: 0px 10px 0px 10px;
}

/*configuación del menú*/
/*
.menu_bar {
	display:none;
}
*/ 

.fixed{
	position:fixed; 
	top:0px;
}

header {
	width: 100%;
	/*position: fixed;*/
	z-index: 100000;
	background-color: #ececec;
}

header nav {
	background:#04B404;
	z-index:10000;
	width:100%;
	margin:0px auto;
	font-size: 17px;
	
}
 
header nav ul {
	list-style:none;
}
 
header nav ul li {
	display:inline-block;
	position: relative;
}
 
header nav ul li:hover {
	background:#ffffff;
}
header nav ul li:hover a{
	color:#000;
}
 
header nav ul li a {
	color:#fff;
	display:block;
	text-decoration:none;
	padding: 10px 20px 10px 20px;
}
 
header nav ul li a span {
	margin-right:10px;
}
 
header nav ul li:hover .children {
	display:block;
}
 
header nav ul li .children {
	display: none;
	background:#04B404;
	position: absolute;
	width: 150%;
	z-index:1000;
}
 
header nav ul li .children li {
	display:block;
	overflow: hidden;
	border-bottom: 1px solid rgba(255,255,255,.5);
}
 
header nav ul li .children li a {
	display: block;
}
header nav ul li:hover .children li a{
	color:#fff;
} 
header nav ul li .children li:hover a{
	color:#000;
} 
 
header nav ul li .children li a span {
	float: right;
	position: relative;
	top:3px;
	margin-right:0;
	margin-left:10px;
}
 
header nav ul li .caret {
	position: relative;
	top:3px;
	margin-left:10px;
	margin-right:0px;
}

.rslides {
}
 




/*configuación de contenido*/

main{
	width: 100%;
	height: auto;
	float: left;
	position: relative;
	z-index: 1;
	margin-bottom: 30px;
	/*margin-top: 130px;*/
}
section#content{
	max-width: 1120px;
	width: 100%;
	height: auto;
	margin: 0 auto;
}
section#contenido{
	max-width: 700px;
	width: 100%;
	height: auto;
	float: left;
}


.rslides {
	display:block;
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  margin: 0;
  margin-top:30px;
  margin-bottom:50px;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  width: 100%;
  float: left;
  }

.rslides img {
  display: block;
  max-width:690;
  height: 270px;
  float: left;
  width: 100%;
  border: 0;
  }

section#articulos{
	width: 100%;
	max-width: 700px;
	height: auto;
	float: left;
	margin-top: 20px;
}
section#articulos article{
	width: 100%;
	max-width:220px;
	height: 250px;
	float: left;
	font-family: Tahoma;
	color: #297baa;
	margin-left: 12px;
	margin-bottom: 15px;
}
section#articulos article h1 a{
	max-width: 220px;
	width: 100%;
	height: auto;
	float: left;
	font-size: 16px;
	text-align: left;
	padding: 0;
	text-decoration: none;
	color: #585858;
}
section#articulos article img{
	
	width: 100%;
	max-width:220px;
	height: 160px;
	float: left;
	margin-top: 5px;
	border: 2px solid #585858;
}
section#articulos article h2 a{
	width: 100%;
	max-width: 220px;
	height: 55px;
	float: left;
	font-size: 14px;
	text-align: center;
	padding: 0;
	text-decoration: none;
	color: #585858;
}
section#publicidad-contenido{
	max-width: 700px;
	width: 100%;
	height: 100px;
	float: left;
	background-color: #ccc;
}

/*Configuración de Sidebar*/

section#sidebar{
	max-width: 400px;
	width: 100%;
	height: auto;
	margin-top: 20px;
	float: right;
	border-left: 2px solid #04B404;
}
section#publicidad-sidebar{
	max-width: 400px;
	width: 100%;
	height: 250px;
	float: right;
	font-family: Tahoma;
	font-size: 14px;
	margin-bottom: 15px;
	text-align: right;
}
section#publicidad-sidebar h1{
	font-size: 16px;
	font-weight: bold;
	border-bottom: 2px solid #04B404;
	color: #121212;
	padding: 7px 0px 7px 0px;
	max-width: 400px;
	width: 100%;
	height: auto;
	float: right;
	border-radius: 2px;
	position: relative;
	z-index: 2;
	margin-bottom: 20px;
}
section#publicidad-sidebar a img{
	border-radius: 4px;
	max-width: 90px;
	width: 100%;
	max-height: 90px;
}
section#widget-ultimas-noticias, section#widget-categorias-portal{
	max-width: 400px;
	width: 100%;
	height: auto;
	float: right;
	font-family: Tahoma;
	font-size: 14px;
	text-align: right;
}
section#widget-ultimas-noticias, section#widget-categorias-portal{
	margin-top: 50px;
}
section#widget-ultimas-noticias h1, section#widget-categorias-portal h1{
	font-size: 16px;
	font-weight: bold;
	border-bottom: 2px solid #04B404;
	color: #121212;
	padding: 7px 0px 7px 0px;
	max-width: 400px;
	width: 100%;
	height: auto;
	float: right;
	border-radius: 2px;
	position: relative;
	z-index: 2;
}
section#widget-ultimas-noticias ul, section#widget-categorias-portal ul{
	list-style: none;
	margin: 0;
	padding: 0;
	height: auto;
	float: left;
}
section#widget-ultimas-noticias ul li, section#widget-categorias-portal ul li{
	color: #838383;
	max-width: 395px;
	width: 100%;
	height: auto;
	padding: 5px 0px 5px 0px;
	float: left;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}
section#widget-ultimas-noticias ul li a, section#widget-categorias-portal ul li a{
	text-decoration: none;
	color: #000;
	padding: 5px 7px 5px 7px;
}
section#widget-categorias-portal ul li{
	width: auto;
	height: auto;
	padding: 7px 5px 7px 5px;
	float: right;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}
section#widget-ultimas-noticias ul li:hover, section#widget-categorias-portal ul li:hover{
	background-color: #f1f1f1;
	color: #121212;
	cursor: pointer;
}

/* Configuraciono Noticias Internas */

section#banner-noticia{
	width: 690px;
	width: 100%;
	height: 270px;
	float: left;
	margin-top: 10px;
	overflow: hidden;
}

section#banner-noticia img{
	width: 690px;
	width: 100%;
	height: 270px;
}

section#info-noticia{
	margin-top: 20px;
	float: left;
	text-align: left;
}

section#info-noticia h1{
	max-width: 679px;
	width: 100%;
	height: auto;
	text-align: left;
	padding: 0;
	margin: 0;
	margin-bottom: 5px;
}

section#contenido-noticia{
	max-width: 690px;
	width: 100%;
	height: auto;
	margin-top: 20px;
	float: left;
	text-align: justify;
}

section#tags{
	max-width: 670px;
	width: 100%;
	height: auto;
	float: left;
	background-color: #E2E2E2;
	color: #121212;
	padding: 10px;
	margin-top: 10px;
	text-align: left;
	border: 2px dashed #BBBBBB;
}

/* Configuraión Página Categorías */

section#categoria-news, section#categoria-news-error, section#buscar, section#buscar-error{
	width: 650px;
	width: 100%;
	height: auto;
	float: left;
	margin-top: 20px;
	padding-bottom: 10px;
}
section#categoria-news h1, section#categoria-news-error h1, section#buscar h2, section#buscar-error h2{
	width: 100%;
	height: auto;
	text-align: left;
	font-size: 20px;
	font-family: Tahoma;
	padding: 10px 0px;
	border-bottom: 1px solid #BCBCBC;
	margin-bottom: 10px;
}
section#categoria-news-error h1, section#buscar-error h2{
	border: none;
	font-size: 24px;
}
section#categoria-news h1 a, section#buscar h2 a{
	color: #121212;
	text-decoration: none;
}

section#imagen-noticia, section#buscar-img{
	max-width: 160px;
	width: 100%;
	height: 160px;
	float: left;
	border: 5px solid #fff;
	box-shadow: 0px 0px 2px 1px #999999;
	margin-right: 20px;
	margin-bottom: 3px;
	margin-top: 8px;
	overflow: hidden;
}

section#imagen-noticia img, section#buscar-img img{
	max-width: 160px;
	width: 100%;
	height: 100%;
	float: left;
}

section#categoria-news p, section#buscar-contenido p, section#categoria-news table tr td p{
	text-align: justify;
	font-size: 14px;
	font-family: Tahoma;
	color: #121212;
}

section#categoria-news p a, section#buscar-contenido p a{
	color: #1C4788;
	text-decoration: none;
}

section#categoria-news table tr td input[type="text"], section#categoria-news table tr td select{
	max-width: 250px;
	width: 100%;
	height: auto;
	padding: 10px;
	box-shadow: inset 0px 0px 2px 0px #000f23;
	border: 0px solid #ccc;
	border-radius: 2px;
	color: #838383;
	font-size: 14px;
}
section#categoria-news input[type="button"]{
	width: auto;
	height: auto;
	float: center;
	padding: 10px 12px 10px 12px;
	border: none;
	border-radius: 2px;
	color: #fff;
	font-size: 14px;
	background-color: #04B404;
	margin-top: 7px;
	cursor: pointer;
}
/*Configuración de Pie de Página*/

footer{
	width: 100%;
	height: auto;
	float: left;
	background: #f4f4f4;
}
footer #center-ft{
	width:100%;
	max-width: 1120px;
	height: auto;
	margin: 0 auto;
}
/*#logo-footer{
	float: left;
	margin-top: 5px;
	margin-bottom: 5px;
}*/
footer #center-ft p{
	font-family: Tahoma;
	font-size: 14px;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 10px;
}

@media screen and (max-width: 1280px) {
	main{
	display:block;
	margin-top: 70px;
}

	section#slider{
		display:none;
	}
	
	.rslides {
	display:block;
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  margin: 0;
  margin-bottom:50px;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  width: 100%;
  float: left;
  }

.rslides img {
  display: block;
  height: 300px;
  float: left;
  max-width:1280px;
  width: 100%;
  border: 0;
 }
 
 .menu{
 	position: fixed;
 }
	
	main {
	}
	footer{
		width: 100%;
		display: block;
	}
	.footer-p{
		width: 100%;
		margin: auto;
	}
	.center-ft{
		padding: auto;
	}
	header .top{
		display:none;
		height: 0px;
		width:100%;
	}
	
	
	.articulos 
	{
		float: right;
	}
	section#articulos article img{
		width:100%;
	}
	
	section#info-noticia{
		max-width:1280px;
		width: 100%;
	}
	section#banner-noticia{
		max-height: 500px;
	}
	section#banner-noticia img{
		max-width:1280px;
		max-height: 500px;
		width:100%;
	}
	section#contenido-noticia{
		max-width:1280px;
		width: 100%;
	}
	section#tags{
		max-width:1280px;
		width: 100%;
	}
	.banner ul li a img{
		width: 100%;
	}
	.banner{
		width: 100%;
	}
	
	.logo-footer{
		display: none;
	}
	
 	section#categoria-news h1 a{
 		width:1300px;
 		width:100%;
 	}
	
	
	section#sidebar, section#publicidad-sidebar, section#publicidad-sidebar h1,
	section#widget-ultimas-noticias, section#widget-categorias-portal,
	section#widget-ultimas-noticias h1, section#widget-categorias-portal h1,
	section#widget-ultimas-noticias ul li, 
	section#widget-ultimas-noticias ul li a, section#widget-categorias-portal ul li a,
	section#articulos article, section#articulos article h1 a,
	section#articulos article img, section#articulos article h2 a,
	section#content, section#contenido{
		width:100%;
		max-width: 1300px;
		display:inline-block;
		position: static;
		float:right;
		text-align: center;
	}
	section#articulos article h1 a{
		display:none;
	}
	section#articulos article img{
		width:100%;
		height: 220px;
	}
	section#publicidad-sidebar a img{
		max-width:80px;
		max-height:80px;
	}
	section#publicidad-sidebar{
		margin-bottom:-100px;
	}
	section#articulos article{
		margin-bottom:50px;
	}
	section#sidebar, section#contenido{
		padding:20px;
	}
	section#publicidad-sidebar a img{
	padding: 10px 0px 0px 0px;
	}
		
}

@media screen and (max-width: 768px) {
	main{
	display:block;
	margin-top: 70px;
}

	section#slider{
		display:none;
	}
	
	.rslides {
	display:block;
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  margin: 0;
  margin-bottom:50px;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  width: 100%;
  float: left;
  }

.rslides img {
  display: block;
  height: 230px;
  float: left;
  width: 100%;
  border: 0;
  }
	
	main {
	}
	footer{
		width: 100%;
		display: block;
	}
	.footer-p{
		width: 100%;
		margin: auto;
	}
	.center-ft{
		padding: auto;
	}
	header .top{
		display:none;
		height: 0px;
		width:100%;
	}
	
	
	.articulos 
	{
		float: right;
	}
	section#articulos article img{
		width:100%;
	}
	
	section#info-noticia{
		width: 100%;
	}
	section#banner-noticia img{
		width:100%;
	}
	section#contenido-noticia{
		width: 100%;
	}
	section#tags{
		width: 100%;
	}
	.banner ul li a img{
		width: 100%;
	}
	.banner{
		width: 100%;
	}
	
	.logo-footer{
		display: none;
	}
 	
	header nav{
		display: none;
	}
	
	section#sidebar, section#publicidad-sidebar, section#publicidad-sidebar h1,
	section#widget-ultimas-noticias, section#widget-categorias-portal,
	section#widget-ultimas-noticias h1, section#widget-categorias-portal h1,
	section#widget-ultimas-noticias ul li, 
	section#widget-ultimas-noticias ul li a, section#widget-categorias-portal ul li a,
	section#articulos article, section#articulos article h1 a,
	section#articulos article img, section#articulos article h2 a{
		width:100%;
		max-width: 800px;
		display:inline-block;
		position: static;
		float:right;
		text-align: center;
	}
	section#articulos article h1 a{
		display:none;
	}
	section#articulos article img{
		height: 220px;
	}
	section#publicidad-sidebar a img{
		max-width:80px;
		max-height:80px;
	}
	section#publicidad-sidebar{
		margin-bottom:-100px;
	}
	section#articulos article{
		margin-bottom:50px;
	}
	section#sidebar, section#contenido{
		padding:10px;
	}
	section#publicidad-sidebar a img{
	padding: 10px 0px 0px 0px;
	}
	
	section#sidebar{
		border-left: 0px;
	}
		
}
@media screen and (max-width: 500px) {
	section#publicidad-sidebar a img{
		max-width:60px;
		max-height:60px;
	}
	section#publicidad-sidebar{
		margin-bottom:-100px;
	}
	
}
@media screen and (max-width: 400px) {
	section#publicidad-sidebar a img{
		max-width:60px;
		max-height:60px;
	}
	section#publicidad-sidebar{
		margin-bottom:-70px;
	}
	
}
