@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?ccvdmq');
    src:    url('fonts/icomoon.eot?ccvdmq#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?ccvdmq') format('truetype'),
        url('fonts/icomoon.woff?ccvdmq') format('woff'),
        url('fonts/icomoon.svg?ccvdmq#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-home3:before {
    content: "\e900";
}
.icon-briefcase:before {
    content: "\e901";
}
.icon-airplane:before {
    content: "\e902";
}
.icon-menu:before {
    content: "\e903";
}
.icon-sphere:before {
    content: "\e904";
}
.icon-mail:before {
    content: "\e905";
}

