#barra {
  color: #fff;
  font-size: 15px;
  background: #31B404;
  padding: 10px 0px;
}

.logo{
	width: 130px;
	height: 65px;
	position: relative;
	left: 80px;

}



.navbar-nav > li > a, .navbar-brand {
    padding-top:25px !important; padding-bottom:0 !important;
    height: 70px; /* aqui escoges el alto que necesites */
}
.navbar {
    min-height:70px !important; /* aqui escoges el alto que necesites */
}


.footer{
	background: #2A3341;
	height: 100%;
	font-family: 'Anton', sans-serif;
	color: #fff;
}
.subfooter{
	background: #101318;
	height: 100%;
	color: #fff;
}
.cajamenu{

	background: #F2F2F2;
	height: 260px;
	width: 100%;
	color:#848484;
	border-radius: 20px;
	border-color: #31B404;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding: 10px;

}
.textofuente{
	font-family: 'Anton', sans-serif;
	text-align: center;

}
.h3naranja{
	color: #FF8000;
	
}
.h3negro{
	color: #585858;
}
.icono1{
	background-color:#2ECCFA;
	padding: 10px;
	height: 50px;
	width: 50px;
	color: white;
	font-size: 23px;
	border-radius: 25px;
	
	
}

.icono2{
	background-color:#0174DF;
	padding: 10px;
	height: 50px;
	width: 50px;
	color: white;
	font-size: 23px;
	border-radius: 25px;
	
	
}
.icono3{
	background-color:#FA5882;
	padding: 10px;
	height: 50px;
	width: 50px;
	color: white;
	font-size: 23px;
	border-radius: 25px;
	
	
}
.iconomenu1{
	background-color:#31B404;
	padding: 3px;
	height: 23px;
	width: 23px;
	color: white;
	border-radius: 14px;
	
	}
	.iconomenu2{
	background-color:#2ECCFA;
	padding: 3px;
	height: 23px;
	width: 23px;
	color: white;
	border-radius: 14px;
	
	}
	.iconomenu3{
	background-color:#0174DF;
	padding: 3px;
	height: 23px;
	width: 23px;
	color: white;
	border-radius: 14px;
	
	}
	.iconomenu4{
	background-color:#FA5882;
	padding: 3px;
	height: 23px;
	width: 23px;
	color: white;
	border-radius: 14px;
	
	}
.logofooter{
	width: 60px;
	height: 60px;
	display: inline-block;

	
}
.cajacursos{

	background: white;
	padding: 10px;
	border: solid;
	border-color: #E6E6E6;
	border-width: 0.07px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	
}
.cajacursosrecomendados{
	height: 400px;
	background: white;
	padding: 10px;
	border: solid;
	border-color: #E6E6E6;
	border-width: 0.07px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	
}

.imgcajacursos{
	width: 100%;
	height: 100%;
}

.fade
{
        opacity:1;
}
.fade:hover
{
        opacity:1;

}
.grow:hover
{
-webkit-transform: scale(1.02);
-ms-transform: scale(1.02);
transform: scale(1.02);
box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.2), 0 18px 60px 0 rgba(0, 0, 0, 0.19);

}
.titulos{
	color: #585858;
	font-family: 'Anton', sans-serif;
	text-align: center;
}
.parrafoscajacursos{
	color: #A4A4A4;
	font-size: 15px;
	
	
}
.perfilavatar{
	width: 40px;
	height: 40px;
	border-radius: 20px;
}
span{
	color: #A4A4A4;
}

a{
	text-decoration: none;
}
a:hover{
	text-decoration: none;
	
}
.login{
	color: white;
	font-size: 15px;
	text-decoration: none;

}
a.login:hover {
    color: white;
    text-decoration: none;

}

a.login:visited {
    color: white;
    text-decoration: none;

}
a.login:active {
    color: white;
    text-decoration: none;

}



.imagenheader{
height: 200px;
}

.textonoticias{
text-align: center;
font-family: 'Anton', sans-serif;
font-size: 45px;
color: white;
}
.subtextonoticias{
text-align: center;
font-family: 'Anton', sans-serif;
font-size: 20px;
color: white;
}
.bordesconsombra{
	background: white;
	border: solid;
	border-color: #E6E6E6;
	border-width: 0.07px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.cajanoticias{

	background: white;
	height: 100%;
	color:white;
	border: solid;
	border-color: #E6E6E6;
	border-width: 0.07px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

	
}
.paddingcajas{
	padding: 10px;
}
.imgcajanoticias{
	
	height: 100%;
	width: 100%;
	

}
.imgcajanoticias2{
	
	height: 220px;
	

}
.icono-autor{
	background-color:#2ECCFA;
	padding: 5px;
	height: 20px;
	width: 20px;
	color: white;
	font-size: 10px;
	border-radius: 10px;
		
}
.icono-fecha{
	background-color:#FA5882;
	padding: 5px;
	height: 20px;
	width: 20px;
	color: white;
	font-size: 10px;
	border-radius: 10px;
}
.parrafonoticasposts{
	padding: 5px;
	text-align: justify;
	font-size: 18px;
}
.categorias-noticias{

	
	font-size: 15px;
	font-family: 'Anton', sans-serif;
	color: #6E6E6E;
	padding: 20px;


}
a.categorias-noticias:hover {
    color: #01DF3A;
    text-decoration: none;

}
.categorias-noticias-estatico{

	position: fixed;
	font-size: 15px;
	font-family: 'Anton', sans-serif;
	color: #6E6E6E;
	padding: 20px;


}
a.categorias-noticias-estatico:hover {
    color: #01DF3A;
    text-decoration: none;

}
.contenedor{
	background-color: white;
}

.ir-arriba {
	display:none;
	padding:20px;
	background:#024959;
	font-size:20px;
	color:#fff;
	cursor:pointer;
	position: fixed;
	bottom:20px;
	right:20px;
}
.opacidadimagen {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

.conpadding [class*="col-"] {
    padding-bottom: 20px;

}
.paddingderecha{
	  padding-bottom: 20px; 
}
.imagenespostnoticias{
	padding: 10px;
	width: 100%;
	height: 100%;
	border-radius: 20px;
}
.informacion-cursos{
	font-size: 15px;
	
	color: #6E6E6E;
	padding: 20px;
	background-color:#F9F8F8;


}
.tituloscursos{
	color: #585858;
	font-family: 'Anton', sans-serif;
	font-size: 30px;
}
.tituloscursos2{
	color: #A4A4A4;
	font-family: 'Anton', sans-serif;
	font-size: 15px;
}

.titulo-noticias{
	font-family: 'News Cycle', sans-serif;
	font-size: 35px;
}
.link-noticias-post{
  font-size: 20px;
  color: black;
}


.link-noticias-post:hover {
    color: #04B404;
    text-decoration: none;

}
.link-noticias-minipost{
	display: inline-block;
  font-size: 15px;
 color: #585858;
  padding: 15px;


}


.link-noticias-minipost:hover {
    color: #04B404;
    text-decoration: none;   

}
.imagen-minipost{
width: 100px;
height: 70px;
}

.texto-footer-small{
	font-size: 15px;
	color: #BDBDBD;
	

}
.texto-footer-small:hover{
	text-decoration: none;
	color: white;

}

.link-noticias-minipost-footer{
display: inline-block;
  font-size: 15px;
 color: #BDBDBD;
  padding: 15px;

}

.link-noticias-minipost-footer:hover {
  	color: white;
    text-decoration: none;   
}


.pr{
	max-height: 500px;
}

.fotoperfil {

	/* cambia estos dos valores para definir el tamaño de tu círculo */
    height: 30%;
    width: 30%;
    /* los siguientes valores son independientes del tamaño del círculo */
    background-repeat: no-repeat;
    border-radius: 50%;
    background-size: 100% auto;
}
.tituloscursos{
	color: #585858;
	font-family: 'Anton', sans-serif;
	font-size: 30px;
}

.tituloscursos2{
	color: #A4A4A4;
	font-family: 'Anton', sans-serif;
	font-size: 15px;
}

.titulosbiografia{

	color: #A4A4A4;
	font-family: 'Anton', sans-serif;
	font-size: 25px;
}

.datosbiografia{
	font-size: 15px;
	
	color: #6E6E6E;
	padding-left: : 70px;
	background-color:#F9F8F8;
}


.carrusel-alto{
	height: auto;
}

.postpopularminiatura{
	height: 70px;
	width: 100px;
	border-radius: 5px;
}

.tamano-caja-cursos{
	height: 400px;

}


.cursos-presenciales-imagen{
	width: 600px;
	height: 400px;
}


.titulo-rojo{
	background-color:#A4A4A4;
	border-radius: 20px;
	font-family: 'Anton', sans-serif;
	font-size: 30px;
	color: white;
}



.parrafos-cursos{

	border-radius: 20px;
	font-family: 'Anton', sans-serif;
	font-size: 22px;
	color: #424242;
}

.imagen-cursos-barra-isquierda{
border-radius: 10px;
width: 80%;
height: 80%;
}

.imagen-cursos-presenciales{
border-radius: 10px;
width: 100%;
height: 100%;
}


.imagen-noticias-footer{
border-radius: 10px;

}













.hovereffect6 {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect6 .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}

.hovereffect6 img {
  display: block;
  position: relative;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.hovereffect6:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /><feGaussianBlur stdDeviation="3" /></filter></svg>#filter');
  filter: grayscale(1) blur(3px);
  -webkit-filter: grayscale(1) blur(3px);
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.hovereffect6 h2 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
}

.hovereffect6 a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  border: 1px solid #fff;
  margin: 50px 0 0 0;
  background-color: transparent;
}

.hovereffect6 a.info:hover {
  box-shadow: 0 0 5px #fff;
}

.hovereffect6 a.info, .hovereffect6 h2 {
  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  opacity: 0;
  filter: alpha(opacity=0);
  color: #fff;
  text-transform: uppercase;
}

.hovereffect6:hover a.info, .hovereffect6:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}








#custom-bootstrap-menu.navbar-default .navbar-brand {
   color: rgba(119, 119, 119, 1);

}
#custom-bootstrap-menu.navbar-default {
    font-size: 16px;
   font-family: 'Merriweather', serif;
    background-color: rgba(255, 255, 255, 1);
    border-width: 1px;
    border-radius: 0px;

}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: rgba(119, 119, 119, 1);
    background-color: rgba(248, 248, 248, 0);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(231, 231, 231, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(85, 85, 85, 1);
    background-color: rgba(231, 231, 231, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #ddd;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #ddd;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #888;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #888;
}