.tablaEncabezado {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	background-image: url(fondoEncabezado.jpg);
	background-size: 100% 90px;
	background-repeat: no-repeat;
	width:100%;
}

.tablaCentral{
	width: 100%;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	border: 1px solid #999999;
	border-collapse:collapse;
}

.tablaGeneral{
	width: 100%;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	border: 1px solid #999999;
	border-collapse:collapse;
}

.tablaPrincipal {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	width:100%;
}

.tablaIzquierdo{
	width: 12%;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
}

.tablaDerecho{
	width: 12%;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
}

.tablaEspacio {
	width: 2%;
	color: #000000;
	right:auto;
}

.tablaEspacioDerecho {
	width: 1%;
    color: #000000;
    right:auto;
}

.tablaOpciones{
	width: 100%;
	text-align: center;
	font-size: 11px;
	color: #000000;
}

.tablaMarquesina{
	width: 100%;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	font-weight: bold;
	border: 1px solid #999999;
	border-collapse:collapse;
	background-color:#F0F0F0	
	
}

.tablaCalendario{
	width:100%;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	border: 1px solid #999999;
	border-collapse:collapse;	
}

.tablaContactos{
	width: 100%;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	border: 1px solid #999999;
	border-collapse:collapse;
}

.tablaLogin {
	background-image: url(fondoLogin.jpg);
	background-repeat: no-repeat;
}

.tablaRegistro{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	border-collapse: collapse;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	font-weight: bold;
}	

.letraEncabezado
{
	color:#FFFFFF;
	text-decoration: none;
}

.letraFecha
{
	color:#FFFFFF;
	font-weight: bold;
	text-decoration: none;
}

.trTitulo {
	font-weight: bold;
	background-image: url(../../imagenes/fondoGris.gif);
}

.trSubTitulo {
	font-weight: bold;
	background-color:#DDDDDD;
	border: 1px solid #999999;
}

.trAviso {
	background-color:#F0F0F0;
	border: 1px solid #999999;
}

.trInformacion {
	background-color:#F0F0F0;
	border: 1px solid #999999;
}

.trDescripcion {
	background-color:#FFFFFF;
	border: 1px solid #999999;
	height:60px;
}
	
.trListaClaro {
	background-color:#FFFFFF;
	border: 1px solid #999999;
}

.trListaOscuro {
	background-color:#F9F9F9;
	border: 1px solid #999999;
}

.tdCartelera {
	background-color:#FFFFFF;
	border: 1px solid #999999;
}

.link {
	color: #000000;
	text-decoration:none;
}

.linkLeido {
	color:#999999;
	text-decoration:none;
	border: 1px solid #999999;	
}

A:hover, {
	text-decoration:underline
}

.linkDibujo {
	color:#FFFFFF;
	text-decoration:none;
}

body {
	background-color:#F5F5EB;
}

.linkLogin {
	color: #FFFFFF;
	text-decoration:none;
}

img {
	border: none;
	vertical-align: middle;
}